celery[redis]==4.3.0rc1  # 4.3.0rc1 as celery 4.2 fails on python 3.7 with async keyword
# As soon as 4.3.0 will be released - we will switch on it
dj-database-url==0.5.0
django-betterforms==1.2
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==0.0.7
django-extended-choices==1.3.2
django-filter==2.1.0
django-heroku==0.3.1
django-phonenumber-field==2.2.0
django-reversion-compare==0.8.6
django-reversion==3.0.3
django-safedelete==0.5.1
django-sesame==1.4
Django==2.1.7
djangorestframework==3.9.1
pendulum==2.0.4
phonenumberslite==8.10.6
psycopg2-binary==2.7.7
python-dateutil==2.8.0
pytz==2018.9
rules==2.0.1
social-auth-app-django==3.1.0
social-auth-core==3.0.0
sqlparse==0.2.4
transliterate==1.10.2
vk==2.0.2
whitenoise==4.1.2
django-select2==6.3.1
django-tables2==2.0.5
django-qr-code==1.0.0
git+https://github.com/citusdata/django-multitenant@97ebc3a95bfb56d494e34b0b4d4f87452d20af09#egg=django-multitenant==2.0.0
