{% extends "crm/clean_base.html" %}
{% load bootstrap4 %}
{% block main %}
    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <form method="post" action="{% url 'crm:accounts:login' %}"
                  class="w-100">
                <div class="col-6 mx-auto">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False %}

                    <input class="btn btn-success mb-3 w-100" type="submit" value="Войти">

                    <a class="btn btn-primary mb-3 w-100"
                       href="{% url "social:begin" "vk-oauth2" %}"
                       role="button">Войти через ВК <i
                            class="fab fa-vk"></i></a>


                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
