{% extends "crm/base_design.html" %}

{% load i18n l10n bootstrap4 html_helper staticfiles %}

{% block sidbar %}
  {% url 'crm:accounts:profile' as  back_link %}
  {% include 'crm/bars/_sidebar_design.html'  with name="	Новый пароль" back_link=back_link %}
{% endblock %}


{% block content %}
  <!- Настройка профиля -!>
  <div class="page col-md-12 col-lg-9 col-xl-10">
      <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          Новый пароль
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <div class="user_info d-flex">
      <div class="user_pic">
        {% if user.vk_id %}
          <img src="{% vk_small_avatar user.vk_id %}">
        {% else %}
          <img src="{% static "img/no-photo.png" %}"/>
        {% endif %}
      </div>
      <div class="user_login">
        {{ user.username }}
        <br/>
        <span class="big_name">{{ user.first_name }} {{ user.last_name }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="greyline"></div>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-12 col-md-5 col-xl-3 form-group">
          {% bootstrap_field form.old_password %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 col-xl-3 form-group">
          {% bootstrap_field form.new_password1 %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 col-xl-3 form-group">
          {% bootstrap_field form.new_password2 %}
        </div>
      </div>

      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Изменить пароль"/>
        <a name="cancel" href="{% url 'crm:accounts:profile' %}" class="btn">Отмена</a>
      </div>
    </form>

  </div>

{% endblock %}
