{% extends "crm/base.html" %}

{% block extrahead %}
  <script
    src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"
  ></script>
  <script type="text/javascript">
    $(function () {
      let clipboardCopy = new ClipboardJS('[data-clipboard-target]');
      clipboardCopy.on('success', function (e) {
        e.clearSelection();
        $(e.trigger).tooltip('show');
      });
      clipboardCopy.on('error', function (e) {
        $(e.trigger).tooltip(e.action);

      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="content-section ml-4 mt-4 w-25">
    <legend class="border-bottom mb-2">Сброс пароля</legend>
    <div class="row">
      <div class="alert alert-success" role="alert">
        Пароль сброшен успешно!
      </div>
    </div>

    <div class="row mb-2">
      <h5>Ваш новый пароль</h5>

      <div class="input-group">
        <div class="input-group-prepend">
          <button
            class="btn" id="password-to-clipboard"
            data-clipboard-target="#gen_password"
            data-toggle="tooltip"
            title="Скопировано" type="button"
          >Скопировать в буфер обмена
          </button>
        </div>
        <input
          id="gen_password" type="text" class="form-control"
          placeholder="Ваш новый пароль"
          aria-label="Ваш новый пароль"
          aria-describedby="password-to-clipboard"
          value="{{ password }}"
          readonly
        >
      </div>
    </div>


    <div class="row">
      <a href="{% url 'crm:accounts:profile' %}" class="btn btn-primary">Вернуться
        к профилю</a>
    </div>
  </div>

{% endblock %}
