{% extends "crm/base.html" %}

{% block content %}
  <div class="content-section ml-4 mt-4 w-25">
    <legend class="border-bottom mb-2">Сброс пароля</legend>
    <div class="alert alert-danger" role="alert">
      <p>Вы уверены что хотите получить новый пароль?</p>
      <p>Старый пароль станет недействительным.</p>
    </div>
    <a href="{% url 'crm:accounts:password-reset' %}" class="btn btn-danger">Сбросить</a>
    <a
      href="{% url 'crm:accounts:profile' %}" class="btn btn-primary"
    >Отмена</a>
  </div>

{% endblock %}
