{% extends "crm/base_design.html" %}

{% load bootstrap4 i18n  l10n html_helper staticfiles %}

{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Настройка профиля" back_link=False %}
{% endblock %}

{% block content %}
  <!- Настройка профиля -!>
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
         {% if messages %}
            {% for message in messages %}
              {% bootstrap_alert_message message %}
            {% endfor %}
          {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          Настройка профиля
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <div class="user_info d-flex">
      <div class="user_pic">
        {% if user.vk_id %}
          <img src="{% vk_small_avatar user.vk_id %}">
        {% else %}
          <img src="{% static "img/no-photo.png" %}"/>
        {% endif %}
      </div>
      <div class="user_login">
        {{ user.username }}
        <br/>
        <span class="big_name">{{ user.first_name }} {{ user.last_name }}</span>
        <div class="form-group save_buttons">
          <a data-href="{% url 'crm:accounts:password-change' %}" href="{% url 'crm:accounts:password-change' %}"
             class="btn">Сменить пароль</a>
{#          <a href="{% url 'crm:accounts:password-reset' %}" class="btn" data-toggle="modal" data-target="#reset_psw">Сбросить#}
{#            пароль</a>#}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="greyline"></div>
      </div>
    </div>

    <form method="POST" action="">
      {% csrf_token %}

      <div class="row">
        <div class="col-12 col-md-10 col-xl-6 form-group {% if form.detail.vk_page.errors %}is-invalid{% endif %}">
          <label for="id_detail-vk_page">Профиль в Вконтакте</label>
          <div class="input-group ">
            <input id="id_detail-vk_page" name="detail-vk_page" type="text" value="{{ form.detail.vk_page.value|default_if_none:'' }}"
                   class="form-control  {% if form.detail.vk_page.errors %}is-invalid{% endif %}"
                   placeholder="vk.com/id234533221">
            {% if not user.has_vk_auth %}
              <div class="input-group-append">
                <a href="{% url "social:begin" "vk-oauth2" %}{% if next %}?next={{ next }}{% endif %}"
                   class="btn btn-outline-secondary">Привязать ВК</a>
              </div>
            {% endif %}
            {% for error in form.detail.vk_page.errors %}
              <div class="invalid-feedback">{{ error|escape }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-xl-6 form-group">
          {% bootstrap_field form.user.username show_help=False %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-xl-6 form-group">
          {% bootstrap_field form.user.fullname %}
        </div>
        {% bootstrap_field form.user.first_name %}
        {% bootstrap_field form.user.last_name %}
      </div>
      <div class="row">
        <div class="form-group col-12 col-md-5 col-xl-3">
          {% bootstrap_field form.detail.phone_number %}
        </div>
        <div class="form-group col-12 col-md-5 col-xl-3">
          {% bootstrap_field form.user.email %}
        </div>
      </div>

      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Сохранить"/>
        {#        <a name="cancel" href="/manager/locations/" class="btn">Отмена</a>#}
      </div>

    </form>

  </div>

  <!-- Сбросить пароль -->
  <div class="modal fade" id="reset_psw" tabindex="-1" role="dialog" aria-labelledby="reset_psw" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Сбросить пароль?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Назад</button>
          <a href="{% url 'crm:accounts:password-reset' %}" class="btn btn-danger">Сбросить</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script>
    var cleave = new Cleave('#id_detail-phone_number', {
      phone: true,
      phoneRegionCode: 'RU'
    });
  </script>

  <script type="text/javascript">
    $(function () {
      $('[data-name-edit]').on('input', function () {
        var data = $(this).val().trim();
        var items = data.split(' ');
        var result = items.splice(0, 1);
        result.push(items.join(' '));
        $('#' + '{{ form.user.first_name.id_for_label }}').val(result[0]);
        $('#' + '{{ form.user.last_name.id_for_label }}').val(result[1]);
      });
    });
  </script>
{% endblock %}

