{% extends 'crm/base_design.html' %}

{% load bootstrap4 html_helper %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block title %}Моя компания{% endblock %}
{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Моя компания" back_link=False current='company' %}
{% endblock %}

{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          Моя компания
        </li>
      </ul>
    </div>
    <div class="greyline"></div>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Сохранить"/>
        {% if form.vk_group_id.value and form.vk_access_token.value %}
          {% ifhasperm 'message.ignorance' user %}
            <a class="btn" href="{% url 'bot:messages:list' %}">Шаблоны сообщений</a>
          {% endifhasperm %}
        {% endif %}
      </div>
    </form>
  </div>
  </div>
  </div>
{% endblock %}
