{% extends "crm/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Место проведения</legend>
    <div class="w-25">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {% bootstrap_form form %}
        </fieldset>
        <div class="form-group">
          {% if object.id %}
            <button class="btn btn-primary" type="submit">Сохранить</button>
          {% else %}
            <button class="btn btn-primary" type="submit">Добавить</button>
            <button type="submit" name="another" class="btn btn-primary">Сохранить и добавить ещё</button>
          {% endif %}
          <a name="cancel" href="{% url 'crm:manager:locations:list' %}"
             class="btn btn-outline-info">Назад</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
