{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}

{% block title %}Места проведения{% endblock %}
{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Места проведения" back_link=False current='location' %}
{% endblock %}

{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
      {% ifhasperm 'location.add' user %}
      <a class="btn btn-primary btn-new"
         href="{% url 'crm:manager:locations:new' %}">Новый</a>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Места проведения
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>
    <div class="greyline"></div>
    {% if locations %}
      <table class="table table-hover">
        <thead class="d-none d-md-block">
        <tr>
          <th>
            Название
          </th>
          <th>
            Место
          </th>
          <th width="1"></th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
          <tr {% if location.deleted %}class="archive"{% endif %}>
            <td>
              {% if not location.deleted %}
                {% ifhasperm 'location.edit' user %}
                  <a href="{% url "crm:manager:locations:update" location.id %}"
                     class="fio_name"> {{ location.name }}</a>
                {% else %}
                  <a href="#" class="fio_name"> {{ location.name }}</a>
                {% endifhasperm %}
              {% else %}
                {{ location.name }}
              {% endif %}
              <div class="d-md-none">
                <small>{{ location.address }}</small>
              </div>
            </td>
            <td class="d-none d-md-block">
              {{ location.address }}
            </td>
            <td>
              {% if location.deleted %}
                {% ifhasperm 'location.undelete' user %}
                  <a class="btn btn-icon btn-undo"
                     href="#confirm_popup"
                     data-action-text="Вернуть"
                     data-body-text="Вернуть из архива?"
                     data-title="Возврат из архива"
                     data-toggle="modal"
                     data-url="{% url "crm:manager:locations:undelete" location.id %}">
                    <span></span>
                    <abbr>Вернуть</abbr>
                  </a>
                {% endifhasperm %}
              {% else %}
                {% ifhasperm 'location.delete' user %}
                  <a class="btn btn-icon btn-delete"
                     href="#confirm_popup"
                     data-action-text="В архив"
                     data-title="Перемещение в архив"
                     data-body-text="Переместить в архив?"
                     data-toggle="modal"
                     data-url="{% url "crm:manager:locations:delete" location.id %}">
                    <span></span>
                    <abbr>Удалить</abbr>
                  </a>
                {% endifhasperm %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Ваш список Места проведения пуст</p>
    {% endif %}
   {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
