<!DOCTYPE html>
<html class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {% block extrahead %}
    {% endblock %}
    {% if title %}
    <title>CRM - {{ title }}</title>
    {% else %}
    <title>CRM</title>
    {% endif %}



</head>

<body style="height: 100%;">

    <div class="container-fluid" style="height: 100%;">

        <div class="row" style="height: 100%;">
            <!--Sidebar-->
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1" id="sidebar" style="border-right: 1px solid;">
                {% include 'crm/bars/sidebar.html' %}
            </div>

            <div class="col-9 col-sm-10 col-md-10 col-lg-11 col-xl-11">

                <!--Horizontalbar-->
                <div class="row">
                    <!--{% include 'crm/bars/horizontalbar.html' %}-->
                </div>

                <!--Content-->
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>

    </div>

</body>

</html>
