{% extends "crm/clean_base.html" %}

{% load static %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <!--Sidebar-->
      {% include 'crm/bars/sidebar.html' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="w-100">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
          </ul>
        {% endif %}
        </div>
        <!--Content-->
        {% block content %}{% endblock %}

      </main>

    </div>
  </div>
{% endblock %}
