<!DOCTYPE html>
<html class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% if title %}
    <title>CRM - {{ title }}</title>
    {% else %}
    <title>CRM</title>
    {% endif %}
</head>

<body class="h-100 mt-4 ml-4">
    <div class="sidenav">
        {% block nav %}
        {% endblock %}
    </div>
    <main role="main" class="main">
        {% block content %}{% endblock %}
    </main>
</body>

</html>
