<!DOCTYPE html>
{% load static html_helper bootstrap4 %}
{% load yandex_metrica %}
{% load google_analytics_js  %}

<html class="h-100">

<head>
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'favicon/apple-touch-icon.png' %}"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'favicon/favicon-32x32.png' %}"
  >
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'favicon/favicon-16x16.png' %}"
  >
  <link
    rel="manifest"
    href="{% static 'favicon/site.webmanifest' %}"
  >
  <link
    rel="mask-icon"
    href="{% static 'favicon/safari-pinned-tab.svg' %}"
    color="#5bbad5"
  >
  <link
    rel="shortcut icon"
    href="{% static 'favicon/favicon.ico' %}"
  >
  <meta
    name="msapplication-TileColor"
    content="#da532c"
  >
  <meta
    name="msapplication-config"
    content="{% static 'favicon/browserconfig.xml' %}"
  >
  <meta
    name="theme-color"
    content="#ffffff"
  >

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  >
  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% js 'js/moment.min.js' %}

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  >
  {% css 'css/main.css' %}

  <script type="text/javascript">
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          let cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    let csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  </script>

  {% block extrahead %}
  {% endblock %}
  <title>
    SportAdmin{% block title %}{% endblock %}
    {% if user.is_manager %}
      {% if company.active_to %}
        (активен до {{ company.active_to|date:"d.m.Y" }})
      {% else %}
        (активен без ограничений)
      {% endif %}
    {% endif %}
  </title>

  {% yandex_metrica %}
  {% google_analytics_js %}
</head>

<body style="height: 100%;">
<nav class="navbar fixed-top flex-md-nowrap shadow-sm p-0">
  <a
    class="navbar-brand col-sm-3 col-md-2 mr-0"
    href="/"
  >
    <img
      src="{% static 'favicon/favicon-32x32.png' %}"
      width="32"
      height="32"
      alt="logo"
    >
    SportAdmin
    {% if user.is_manager %}
      {% if company.active_to %}
        (активен до {{ company.active_to|date:"d.m.Y" }})
      {% else %}
        (активен без ограничений)
      {% endif %}
    {% endif %}
  </a>

  {% if user.is_authenticated %}

    <div class="d-flex justify-content-end">
      <a class="nav-link pl-0" target="_blank"
        href="https://vk.com/im?sel=-178479449"
      >
        Написать в поддержку
      </a>

      <a class="nav-link pl-0">
        {{ user.get_full_name }} ({{ user.company }})
      </a>
      <a
        class="nav-link pl-0"
        href="{% url "crm:accounts:logout" %}"
      >Выйти</a>
    </div>
  {% endif %}

</nav>
{% block main %}{% endblock %}
</body>
{% block extra %}{% endblock %}
</html>
