{% extends "crm/base.html" %}
{% block nav %}
{% endblock nav %}
{% block content %}


<div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Ученик</legend>
    <div class="row mb-2">
        <div class="container-fluid">
            <a class="btn btn-sm btn-outline-info" href="{% url 'crm:client-update' object.id %}">Изменить</a>
            <a name="cancel" href="{% url 'crm:clients' %}" class="btn btn-sm btn-outline-info">Назад</a>
            <a class="btn btn-sm btn-outline-danger"  href="{% url 'crm:client-delete' object.id %}">Удалить</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border-right">
            <div class="font-weight-bold">Имя:</div>
            <div class="font-weight-bold">Адрес:</div>
            <div class="font-weight-bold">Дата рождения:</div>
            <div class="font-weight-bold">Номер телефона:</div>
            <div class="font-weight-bold">Электронная почта:</div>
        </div>
        <div class="col">
            <div>{{ object.name }}</div>
            <div>{{ object.address }}</div>
            <div>{{ object.birthday|date }}</div>
            <div>{{ object.phone_number }}</div>
            <div>{{ object.email_address }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="font-weight-bold ">Абонементы: </span>
            <div class="mb-2 mt-2">
                <a class="btn btn-sm btn-outline-info" href="{% url 'crm:clientsubscription-new' object.id %}">Добавить
                    абонемент</a>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Дата покупки</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Осталось посещений</th>
                    <th style="width:5%" scope="col"></th>
                    <th style="width:5%" scope="col"></th>
                    <th style="width:5%" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for sub in object.clientsubscriptions_set.all %}
                <tr>
                    <td>{{ sub.subscription.name }}</td>
                    <td>{{ sub.purchase_date|date:'d N Y'}}</td>
                    <td>{{ sub.start_date|date:'d N Y' }}</td>
                    <td>{{ sub.end_date|date:'d N Y' }}</td>
                    <td>{{ sub.visits_left }}</td>
                    <td >
                        <a class="btn btn-sm btn-outline-info" href="{% url 'crm:clientsubscription-extend' sub.id %}">Продлить</a>
                    </td>
                    <td >
                        <a class="btn btn-sm btn-outline-info" href="{% url 'crm:clientsubscription-update' sub.id %}">Изменить</a>
                    </td>
                    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'crm:clientsubscription-delete' sub.id %}">Удалить</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="font-weight-bold ">Посещения: </span>
            <div class="mb-2 mt-2">
                <a class="btn btn-sm btn-outline-info" href="{% url 'crm:attendance-new' object.id %}">Отметить посещение</a>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Тренировка</th>
                    <th style="width:5%" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for sub in object.attendance_set.all  %} {# тут стояло |dictsortreversed:"event.date", но почему-то перестало работать :(#}
                <tr>
                    <td>{{ sub.event.date|date }}</td>
                    <td>{{ sub.event.event_class }}</td>
                    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'crm:attendance-delete' sub.id %}">Удалить</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
