{% extends "crm/base.html" %}
{% block nav %}
{% endblock nav %}
{% block content %}
<script type="text/javascript"></script>
<script>window.page_name = "Ученики";</script>
<form action="/clients" id="clientsForm" method="POST" style="width: 100%;">
    <div class="ml-4 mt-4 mr-4">
        <legend class="border-bottom mb-2">Ученики</legend>
        <div style="background-color: #FFFFFF;" class="sticky-top">
            <a name="add-new" href="{% url 'crm:client-new' %}" class="btn btn-sm btn-info mb-2">Добавить ученика</a>
        </div>
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Инфо</th>
                <th scope="col">Абонемент</th>
            </tr>
            </thead>
            <tbody>
            {% for c in clients %}
            <tr>
                <td>
                    {{ c.id }}
                </td>
                <td>
                    <a href="{% url 'crm:client-detail' c.id %}">
                        <div class="font-weight-bold">{{ c.name }}</div>
                        <div>{{ c.phone_number }}</div>
                        <div>{{ c.email_address }}</div>
                    </a>
                </td>
                <td>
                    {% if c.last_sub != null %}
                    <div class="font-weight-bold">{{ c.last_sub.subscription.name }}</div>
                    <div>Куплен {{ c.last_sub.purchase_date | date }}</div>
                    <div>Действует с {{ c.last_sub.start_date | date }} по {{ c.last_sub.end_date | date }}</div>
                    <div>Осталось {{ c.last_sub.visits_left }} посещений</div>
                    <a class="btn btn-sm btn-outline-info"
                       href="{% url 'crm:clientsubscription-extend' c.last_sub.id %}">Продлить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</form>
{% endblock content %}
