{% extends "crm/base.html" %}
{% load bootstrap4 %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}

<script language="javascript">
    $(function() {
    $("#id_price").val($(this).find("option:selected").attr("value"));
    $("#id_subscription").change(function() {
        $("#id_price").val($(this).find("option:selected").attr("value"));
    });
});
</script>

<div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Абонемент</legend>
    <div class="w-25">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% bootstrap_form form %}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Добавить</button>
                {% if object.client != null %}
                <a name="cancel" href="{% url 'crm:client-detail' object.client.id %}" class="btn btn-outline-info">Назад</a>
                {% else %}
                <a name="cancel" href="{% url 'crm:client-detail' view.kwargs.client_id %}"
                   class="btn btn-outline-info">Назад</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
