{% extends "crm/base.html" %}
{% load bootstrap4 %}
{% block extrahead %}
{{ form.media }}

{% endblock %}
{% block content %}
<div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Тренировка</legend>
    <div class="w-25">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}


            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Добавить</button>
                {% if object.id != null %}
                <a name="cancel" href="{% url 'crm:eventclass_update' object.id %}" class="btn btn-outline-info">Назад</a>
                {% else %}
                <a name="cancel" href="{% url 'crm:eventclass_list' %}" class="btn btn-outline-info">Назад</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
