{% extends "crm/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript"></script>
<script>window.page_name = "Классы мероприятий";</script>
<h1>Типы мероприятий</h1>
<a class="btn btn-primary" href="{% url 'crm:eventclass_create' %}">Новое мероприятие</a>
{% if eventclass_list %}
    <ul>
    {% for eventclass in eventclass_list %}
        <li><a href="{% url 'crm:eventclass_update' eventclass.pk %}">{{ eventclass.name }} - {{ eventclass.location }} - {{ eventclass.coach }}</a> <a href="{% url 'crm:eventclass_delete' eventclass.pk %}" ><i class="fas fa-minus-circle text-danger"></i></a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No event_class are available.</p>
{% endif %}

{% endblock content %}