{% extends "crm/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block extrahead %}
{{ eventclass_form.media }}
{{ weekdays.media }}

{% endblock extrahead%}

{% block content %}
<form action="" method="POST" >
<!-- See above: We're using the author_id that was passed to template via views render of the edit_author(...) function -->
{% csrf_token %} <!-- You're dealing with forms. csrf_token must come -->
{% bootstrap_form eventclass_form %}
{% bootstrap_form weekdays.0 layout='horizontal'%}
{% bootstrap_form weekdays.1 layout='horizontal'%}
{% bootstrap_form weekdays.2 layout='horizontal'%}
{% bootstrap_form weekdays.3 layout='horizontal'%}
{% bootstrap_form weekdays.4 layout='horizontal'%}
{% bootstrap_form weekdays.5 layout='horizontal'%}
{% bootstrap_form weekdays.6 layout='horizontal'%}


<input type="submit" value="submit">
</form>
{% endblock content %}