<!DOCTYPE html>
{% load static %}
<html lang="ru">

    <head>
        <title>SportCRM</title>
        <meta charset="utf-8">
        <meta name="sidebar" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    </head>

    <body>

        <div id="wrapper">

            <!--headbar-->

            <div id="headbar-wrapper">
                <div id="button-wrapper">
                    <a href="#" class="btn btn-success" id="menu-toggle">
                        <span style="font-size: 2em; color: black;">
                          <i class="fas fa-bars"></i>
                        </span>
                    </a>
                </div>
            </div>

            <!--sidebar-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li><a href="{% url 'crm:home' %}"><span style="font-size: 24px;"><i class="fas fa-home"></i></span>CRM-Home</a></li>
                    <li><a href="{% url 'crm:clients' %}"><span style="font-size: 24px;"><i class="fas fa-users"></i></span>Clients</a></li>
                    <li><a href="{% url 'crm:eventclass_list' %}"><span style="font-size: 24px;"><i class="fas fa-calendar-alt"></i></span>Eventclasses</a></li>
                    <li><a href="{% url 'crm:subscriptions' %}"><span style="font-size: 24px;"><i class="far fa-id-card"></i></span>Subscriptions</a></li>
                </ul>
            </div>

            <!--page content-->
            <div id="page-content-wrapper">
                <div class="content-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Что такое Django?</h1>
                            <p> Django (джанго) — бесплатный и свободный фреймворк для веб-приложений, написанный на Python. Фреймворк — это набор компонентов, которые помогают разрабатывать веб-сайты быстро и просто.
                                Каждый раз при разработке веб-сайтов требуются похожие компоненты: способ аутентифицировать пользователей (вход, выход, регистрация), панель управления сайтом, формы, инструменты для загрузки файлов и т. д.
                                К счастью для нас, другие люди обратили внимание на возникновение однотипных проблем при веб-разработке, так что они объединились и создали фреймворки (Django и другие), которые предлагают нам готовые шаблоны для использования.
                                Фреймворки существуют, чтобы облегчить процесс разработки и позволить нам не изобретать колесо. </p>
                            <h1>Зачем нам нужен фреймворк?</h1>
                            <p> Чтобы понять, для чего же нам нужен Django, нам нужно ближе познакомиться с серверами. Во-первых, сервер должен узнать о том, что мы ждём от него веб-страницу.
                                Представь себе почтовый ящик (порт), который проверяется на наличие новых писем (запросов). Это делает веб-сервер. Когда письмо приходит, сервер читает его и отправляет ответ с веб-страничкой. Однако чтобы что-то отправить, нам надо это что-то иметь. И Django как раз и отвечает за создание контента, который будет отправлен в ответе. </p>
                            <h1>Что происходит, когда кто-то запрашивает веб-сайт у твоего сервера?</h1>
                            <p> Когда на сервер приходит запрос, он переадресуется Django, который пытается сообразить, что же конкретно от него просят. Для начала он берет адрес веб-страницы и пробует понять — что же нужно сделать. Эту часть процесса в Django выполняет urlresolver (адрес веб-сайта называется URL — Uniform Resource Locator — Единый указатель ресурсов, так что название urlresolver, resolver == определитель, имеет определенный смысл). Он не слишком умён, поэтому просто берет список шаблонов и пытается сопоставить их с URL. Django сверяет шаблоны сверху вниз и, если что-то совпадает, он переправляет запрос соответствующей функции (которая называется view).
                                Представь себе почтальона с письмом. Она идет вниз по улице и сверяет номера домов с адресом на письме. Если они совпадают, то она оставляет письмо. Так же работает и urlresolver! Но самые интересные вещи происходят в функции view: мы, например, можем обращаться к базе данных за определенной информацией. Может быть пользователь попросил изменить какую-нибудь информацию? Как будто в письме написано: "Пожалуйста, поменяйте описание моей работы." Функция view может проверить, имеете ли вы разрешение делать это, а затем обновит описание работы и отправит обратно ответ: "Готово!". Затем функция view сгенерирует ответ, и Django сможет отправить его веб-браузеру пользователя.
                                В реальности все немного сложнее, однако тебе не обязательно знать все технические навороты прямо сейчас. Достаточно основной концепции.
                                Так что вместо погружения в пучины нюансов мы просто начнем работать с Django и познакомимся со всеми важными особенностями по мере продвижения! </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Menu toggel script-->
        <script>
                $("#menu-toggle").click( function(e){
                    e.preventDefault();
                    $("#wrapper").toggleClass("menuDisplayed");
                });

        </script>

    </body>
</html>