{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper %}

{% block title %}Абонемент{% endblock %}
{% block sidbar %}
  {% url 'crm:manager:subscription:list' as back_link %}
  {% if object.id %}
    {% include 'crm/bars/_sidebar_design.html'  with name=object.name back_link=back_link current='subscription' %}
  {% else %}
    {% include 'crm/bars/_sidebar_design.html'  with name="Новый абонемент" back_link=back_link current='subscription' %}
  {% endif %}
{% endblock %}



{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12 alert-box">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          <a href="{% url "crm:manager:subscription:list" %}">Абонементы</a>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
        <li>
          {% if object.id %}{{ object.name }} {% else %}Новый абонемент{% endif %}
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <form method="POST">
      {% csrf_token %}

      <div class="row">
        <div class="col-12 col-md-10 col-xl-6">
          {% bootstrap_field form.name %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 col-xl-3">
          {% bootstrap_field form.price %}
        </div>
        <div class="col-12 col-md-5 col-xl-3">
          {% bootstrap_field form.visit_limit %}
        </div>
        <div class="col-6 col-md-2 col-xl-2 offset-6 offset-md-0 d-flex align-items-end form-group">
            <div class="form-check d-flex skip_line">
                <label class="form-check-label" for="no_visit_limit">
                    <input id="no_visit_limit" name="no_visit_limit" type="checkbox" class="form-check-input">
                    <div class="form-check-input-div"></div>
                </label>
                <label class="form-check-label" for="no_visit_limit">Безлимит</label>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="id_duration">Продолжительность</label>
          <div class="row align-items-center">
            <div class="col-6 col-md-2">
              {% bootstrap_field form.duration show_label=False %}
            </div>
            <div class="col-6 col-md-4">
              {% bootstrap_field form.duration_type show_label=False %}
            </div>
            <div class="col-12 col-md-6 form-group">
              <div class="form-check d-flex">
                <label class="form-check-label" for="id_rounding">
                  <input id="id_rounding" name="rounding" type="checkbox" class="form-check-input"
                         {% if form.rounding.value %}checked="checked"{% endif %}>
                  <div class="form-check-input-div"></div>
                </label>
                <label class="form-check-label" for="id_rounding">Округлять начало действия абонемента</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="greyline"></div>
        </div>
      </div>
      <div class="form-group subscription_check">
        <p>Допустимые тренировки</p>
        <div class="form-check d-flex">
            <label class="form-check-label" for="subscription_all">
                <input id="subscription_all" name="rounding" type="checkbox" class="form-check-input" data-subscription="subscription_all">
                <div class="form-check-input-div"></div>
            </label>
            <label class="form-check-label" for="subscription_all">Все</label>
        </div>
        {% for field in form.event_class %}
          <div class="form-check d-flex">
            <label class="form-check-label" for="{{ field.id_for_label }}">
              <input id="{{ field.id_for_label }}" name="event_class" value="{{ field.data.value }}" type="checkbox"
                     class="form-check-input"
                     data-subscription="{{ field.data.value }}"
                     {% if field.data.selected %}checked{% endif %}
              >
              <div class="form-check-input-div"></div>
            </label>
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.choice_label }}</label>
          </div>
        {% endfor %}
        {% if form.event_class.errors %}
          {% for error in form.event_class.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="greyline"></div>

      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Сохранить"/>
        {% if not object.id %}
          <button name="another" class="btn">Сохранить и создать новый</button>
        {% endif %}
        <a name="cancel" href="{% url "crm:manager:subscription:list" %}" class="btn">Отмена</a>
      </div>

    </form>

  </div>
{% endblock content %}
{% block extrajs %}
   <script>
    enquire.register("screen and (max-width: 720px)", {
      match: function () {
        $('.selectpicker').attr('data-mobile', 'true');
      }
    });
    </script>
{% endblock %}
