{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize %}

{% block title %}Абонементы{% endblock %}
{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Абонементы" back_link=False current='subscription' %}
{% endblock %}


{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12 alert-box">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% ifhasperm 'subscription.add' user %}
      <a class="btn btn-primary btn-new" href="{% url 'crm:manager:subscription:new' %}">Новый</a>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Абонементы
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <div class="tab-content">
        <table class="table table-hover">
          <thead class="d-none d-md-block">
          <tr>
            <th>
              Наименование
            </th>
            <th class="d-none d-md-block">
              Допустимые тренировки
            </th>
            <th class="d-none d-md-block">
              Продолжительность
            </th>
            <th class="d-none d-md-block">
              Кол-во посещений
            </th>
            <th class="d-none d-md-block">
              Стоимость
            </th>
            <th width="1"></th>
          </tr>
          </thead>
          <tbody>
          {% for subscription in subscriptions %}
            <tr {% if subscription.deleted %}class="archive"{% endif %}>
              <td>
               {% if not subscription.deleted %}
                    {% ifhasperm 'location.edit' user %}
                        <a href="{% url 'crm:manager:subscription:update' subscription.id %}"
                        class="fio_name"> {{ subscription.name }}</a>
                    {% else %}
                        <a href="#" class="fio_name"> {{ subscription.name }}</a>
                    {% endifhasperm %}
                    {% else %}
                    {{ subscription.name }}
               {% endif %}
                <div class="balance d-md-none">
                  {% for eventclass in subscription.event_class.all %}
                    <small>{{ eventclass }}</small>
                    {% if not forloop.last %}
                      ,
                    {% endif %}
                  {% endfor %}
                  <br>
                  <small>Продолжительность: {{ subscription.duration }} {{ subscription.duration_postfix }}</small><br>
                  <small>Посещений: {{ subscription.visit_limit }}</small><br>
                  <small>{{ subscription.price|floatformat:"-2"|intcomma }}&nbsp;₽</small>
                </div>
              </td>
              <td class="d-none d-md-block">
                {% for eventclass in subscription.event_class.all %}
                  {{ eventclass }}
                  {% if not forloop.last %}
                    ,
                  {% endif %}
                {% endfor %}
              </td>
              <td class="d-none d-md-block">
                  {{ subscription.duration }} {{ subscription.duration_postfix }}
              </td>
              <td class="d-none d-md-block">
                {{ subscription.visit_limit }}
              </td>
              <td class="d-none d-md-block">
                {{ subscription.price|floatformat:"-2"|intcomma }}&nbsp;₽
              </td>
              <td>
                  <div class="btn_box d-flex align-items-center justify-content-end">
                    {% if subscription.deleted %}
                      {% ifhasperm 'subscription.undelete' user %}
                        <a class="btn btn-icon btn-undo"
                           href="#confirm_popup"
                           data-action-text="Вернуть"
                           data-body-text="Вернуть из архива?"
                           data-title="Возврат из архива"
                           data-toggle="modal"
                           data-url="{% url "crm:manager:subscription:undelete" subscription.id %}">
                          <span></span>
                          <abbr>Вернуть</abbr>
                        </a>
                      {% endifhasperm %}
                    {% else %}
                      {% ifhasperm 'location.delete' user %}
                        <a class="btn btn-icon btn-delete"
                           href="#confirm_popup"
                           data-action-text="В архив"
                           data-title="Перемещение в архив"
                           data-body-text="Переместить в архив?"
                           data-toggle="modal"
                           data-url="{% url "crm:manager:subscription:delete" subscription.id %}">
                          <span></span>
                          <abbr>Удалить</abbr>
                        </a>
                      {% endifhasperm %}
                    {% endif %}
                  </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
