{% extends "crm/base_design.html" %}

{% load html_helper humanize %}

{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Абонементы" back_link=False %}
{% endblock %}


{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    {% ifhasperm 'subscription.add' user %}
      <a class="btn btn-primary btn-new" href="{% url 'crm:manager:subscription:new' %}">Новый</a>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Абонементы
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <table class="table table-hover">
      <thead class="d-none d-md-block">
      <tr>
        <th>
          Наименование
        </th>
        <th>
          Допустимые тренировки
        </th>
        <th>
          Продолжительность
        </th>
        <th>
          Кол-во посещений
        </th>
        <th>
          Стоимость
        </th>
        <th width="1"></th>
      </tr>
      </thead>
      <tbody>
      {% for subscription in subscriptions %}
        <tr>
          <td>
            {% ifhasperm 'subscription.edit' user subscription %}
              <a href="{% url 'crm:manager:subscription:update' subscription.id %}"
                 class="fio_name"> {{ subscription.name }}</a>
            {% else %}
              {{ subscription.name }}
            {% endifhasperm %}
            <div class="balance d-md-none">
              {% for eventclass in subscription.event_class.all %}
                <small>{{ eventclass }}</small>
                {% if not forloop.last %}
                  ,
                {% endif %}
              {% endfor %}
            </div>
          </td>
          <td class="d-none d-md-block">
            {% for eventclass in subscription.event_class.all %}
              {{ eventclass }}
              {% if not forloop.last %}
                ,
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {{ subscription.duration }} {{ subscription.duration_postfix }}
          </td>
          <td>
            {{ subscription.visit_limit }}
          </td>
          <td>
            {{ subscription.price|floatformat:"-2"|intcomma }} ₽
          </td>
          <td>
            {% ifhasperm 'subscription.delete' user %}
              <a class="btn btn-icon btn-delete"
                 href="{% url "crm:manager:subscription:delete" subscription.id %}"><span></span><abbr>Удалить</abbr></a>
            {% endifhasperm %}

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
