{% extends "crm/base.html" %}

{% load html_helper %}

{% block content %}
  <script type="text/javascript"></script>
  <script>window.page_name = "Абонементы";</script>
  <form
    id="clientsForm" method="POST"
    style="width: 100%;"
  >
    <div class="ml-4 mt-4 mr-4">
      <legend class="border-bottom mb-2">Абонементы</legend>
      <div style="background-color: #FFFFFF;" class="sticky-top">
        {% ifhasperm 'subscription.add' user %}
          <a
            name="add-new" href="{% url 'crm:manager:subscription:new' %}"
            class="btn btn-sm btn-info mb-2"
          >Добавить абонемент</a>
        {% endifhasperm %}
        {% ifhasperm 'subscription.view_archive' user %}
          <a
            name="toggle-archive"
            href="{% url 'crm:manager:subscription:list' %}?{{ filter.toggled_data.urlencode }}"
            class="btn btn-sm btn-secondary mb-2"
          >
            <i class="fas fa-archive"></i>
            {% if filter.form.with_archive.data %}Cкрыть{% else %}
              Показать{% endif %} архив
          </a>
        {% endifhasperm %}
      </div>

      <table class="table table-sm table-bordered">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Цена</th>
          <th scope="col">Продолжительность</th>
          <th scope="col">Лимит посещений</th>
          {% ifhasperm 'subscription.edit' user %}
            <th scope="col" style="width:5%"></th>
          {% endifhasperm %}
          {% ifhasperm 'subscription.delete' user %}
            <th scope="col" style="width:5%"></th>
          {% endifhasperm %}
        </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
          <tr>
            <td>
              {{ subscription.name }}
              {% if subscription.deleted %}
                <span class="badge badge-secondary">
                  <i class="fas fa-archive"></i>в ахриве
                </span>
              {% endif %}
            </td>
            <td>
              {{ subscription.price }}
            </td>
            <td>
              {{ subscription.duration }} {{ subscription.duration_postfix }}
            </td>
            <td>
              {{ subscription.visit_limit }}
            </td>

            {% ifhasperm 'subscription.edit' user %}
              <td>
                {% if not subscription.deleted %}
                  <a
                    name="edit"
                    href="{% url 'crm:manager:subscription:update' subscription.id %}"
                    class="btn btn-sm btn-outline-info"
                  >
                    Редактировать
                  </a>
                {% endif %}
              </td>
            {% endifhasperm %}
            {% ifhasperm 'subscription.delete' user %}
              <td>
                {% if subscription.deleted %}
                  <a
                    href="{% url "crm:manager:subscription:undelete" subscription.id %}"
                    class="btn btn-secondary"
                  >
                    Вернуть
                  </a>
                {% else %}
                  <a
                    href="{% url "crm:manager:subscription:delete" subscription.id %}"
                    class="btn btn-danger"
                  >
                    Удалить
                  </a>
                {% endif %}
              </td>
            {% endifhasperm %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
{% endblock content %}
