{% extends "crm/base.html" %}

{% load html_helper %}

{% block extrahead %}
  {% css 'css/fullcalendar.min.css' %}
  {% js 'js/fullcalendar.min.js' %}
  {% js 'js/fullcalendar-locale-ru.js' %}
  <script type="text/javascript">
    $(function() {
      $('#calendar').fullCalendar({
        locale: 'ru',
        height: 'auto',
        aspectRatio: 3,
        themeSystem: 'bootstrap4',
        timeFormat: 'H:mm',
        displayEventTime: true,
        displayEventEnd: true,
        eventSources: [
          {
            url: '{% url 'api-v1:manager:event:calendar' %}',
          }
        ]
      });
    });
  </script>
{% endblock %}

{% block content %}

  <div class="ml-4 mt-4 mr-4">
    <div class="row border-bottom mb-2">
      <div class="col">
        <legend>Тренировки</legend>
      </div>
      <div class="col d-flex justify-content-end">
        <div>
          <a class="btn btn-outline-info" href="{% url 'crm:manager:event-class:list' %}">Настройки</a>
        </div>
      </div>
    </div>
    <div id="calendar"></div>
  </div>

{% endblock content %}
