{% extends "crm/base_design.html" %}

{% load html_helper %}

{% block extrahead %}
  <!-- Full Calendar -->
  {% css 'js/fullcalendar/packages/core/main.css' %}
  {% css 'js/fullcalendar/packages/daygrid/main.css' %}
  {% css 'js/fullcalendar/packages/daygrid/main.css' %}
  {% css 'js/fullcalendar/packages/timegrid/main.css' %}
  {% css 'js/fullcalendar/packages/bootstrap/main.css' %}
{% endblock %}

{% block content %}
  <div class="page page_with_calendar col-md-12 col-lg-9 col-xl-10">
    <div id='calendar-container'>
      <div id='calendar'></div>
    </div>
  </div>
{% endblock content %}

{% block sidbar %}
        {% include 'crm/bars/_sidebar_design.html'  with name="Тренировки" back_link=False%}
{% endblock %}

{% block extrajs %}
  <!-- Full Calendar -->
  {% js 'js/fullcalendar/packages/core/main.js' %}
  {% js 'js/fullcalendar/packages/daygrid/main.js' %}
  {% js 'js/fullcalendar/packages/timegrid/main.js' %}
  {% js 'js/fullcalendar/packages/moment/main.js' %}
  {% js 'js/fullcalendar/packages/bootstrap/main.js' %}
  {% js 'js/fullcalendar/packages/core/locales/ru.js' %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'timeGrid', 'moment', 'bootstrap'],
        themeSystem: 'bootstrap',
        locale: 'ru',
        height: 'parent',
        customButtons: {
          newCustomButton: {
            text: 'Новое',
            click: function () {
              open("{% url 'crm:manager:event-class:new' %}", '_self')
            }
          }
        },
        header: {
          left: 'title',
          center: '',
          right: 'dayGridMonth,timeGridWeek,timeGridDay today prev next newCustomButton'
        },
        defaultView: 'dayGridMonth',
        defaultDate: '2019-04-22',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        eventSources: [
          {
            url: '{% url 'api-v1:manager:event:calendar' %}',
          }
        ]
      });
      calendar.render();
    });
  </script>
  <!-- Full Calendar -->
{% endblock %}
