{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}

{% block content %}
  <div class="page workout_page col-md-12 col-lg-9 col-xl-10">
    <div class="workout_actions desktop_workout_actions d-none d-md-block">
      <ul class="d-flex justify-content-end">
        {% ifhasperm 'client.add' user %}
          <li class="new_student">
            <a href="{% url 'crm:manager:client:new' %}" class="d-flex">
              <span class="icon align-self-center"></span>
              <span class="align-self-center">Добавить<br/>ученика</span>
            </a>
          </li>
        {% endifhasperm %}
        {% if not event.is_closed %}
          <li class="QR">
            <a
              href="{% url 'crm:manager:event-class:event:scanner' event.event_class.id event.date.year event.date.month event.date.day %}"
              class="d-flex">
              <span class="icon align-self-center"></span>
              <span class="align-self-center">Сканер<br/>QR-кода</span>
            </a>
          </li>
        {% endif %}
        <li class="more">
          <div class="btn-group">
            <a href="#" class="d-flex" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><span
              class="icon align-self-center"></span></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"
                 href="{% url 'crm:manager:event-class:update' event.event_class.pk %}">Редактировать
                занятие</a>
              <a class="dropdown-item" href="#">Подробнее о занятии</a>
              <div class="greyline"></div>
              <a class="dropdown-item" href="#">Отменить текущее занятие</a>
              <a class="dropdown-item" href="#">Удалить все занятия</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          <a href="{% url 'crm:manager:event:calendar' %}">Тренировки</a>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
        <li>
          {{ event.event_class.name }}
        </li>
      </ul>
    </div>
    <div class="workout_actions mobile_workout_actions d-md-none">
      <ul class="row">
        {% ifhasperm 'client.add' user %}
          <li class="new_student col-4">
            <a href="{% url 'crm:manager:client:new' %}">
              <span class="icon"></span>
              <span>Добавить<br/>ученика</span>
            </a>
          </li>
        {% endifhasperm %}
        {% if not event.is_closed %}
          <li class="QR col-4">
            <a href="{% url 'crm:manager:event-class:event:scanner' event.event_class.id event.date.year event.date.month event.date.day %}">
              <span class="icon"></span>
              <span>Сканер<br/>QR-кода</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="greyline"></div>
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills row no-gutters" id="pills-tab" role="tablist">
          <li class="nav-item col-6 col-md-auto text-center text-md-left">
            <a class="nav-link active" id="pills-all-tab" data-toggle="pill"
               href="#pills-all" role="tab" aria-controls="pills-all"
               aria-selected="true">Ученики</a>
          </li>
          <li class="nav-item col-6 col-md-auto text-center text-md-left">
            <a class="nav-link" id="pills-marked-tab" data-toggle="pill"
               href="#pills-marked" role="tab" aria-controls="pills-marked"
               aria-selected="false">Отмеченные</a>
          </li>
        </ul>
        <div class="greyline"></div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
               aria-labelledby="pills-all-tab">
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  ФИО
                </th>
                <th>
                  Абонемент
                </th>
                <th>
                  Дейсвует до
                </th>
                <th>
                  Посл. посещение
                </th>
                <th>
                  Баланс
                </th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="otbivka">
                <td colspan="8">Записанные</td>
              </tr>
              {% for client, subscriptions in signed_up_clients.items %}
                <tr class="{% if client.balance < 0 %}minus_balance{% endif %} {% if client.deleted %}archive{% endif %} ">
                  {% include 'crm/manager/_client_list_item_photo.html' %}
                  {% include 'crm/manager/_client_list_item_info.html' %}
                  {% include 'crm/manager/_client_list_item_subscription.html' %}
                  {% include 'crm/manager/_client_list_item_sub_end-date.html' %}
                  {% include 'crm/manager/_client_list_item_sub_last-date.html' %}
                  {% include 'crm/manager/_client_list_item_balance.html' %}
                  {% include 'crm/manager/_client_list_item_button.html' with action=client.get_active_sub|length|yesno:"mark,new_subscription" %}
                  {% include 'crm/manager/_client_list_item_dropdown-menu.html' %}
                </tr>
              {% endfor %}
              <tr class="otbivka">
                <td colspan="8">Доступные по абонементу</td>
              </tr>
              {% for client, subscriptions in unmarked_clients.items %}
                <tr class="{% if client.balance < 0 %}minus_balance{% endif %} {% if client.deleted %}archive{% endif %} ">
                  {% include 'crm/manager/_client_list_item_photo.html' %}
                  {% include 'crm/manager/_client_list_item_info.html' %}
                  {% include 'crm/manager/_client_list_item_subscription.html' %}
                  {% include 'crm/manager/_client_list_item_sub_end-date.html' %}
                  {% include 'crm/manager/_client_list_item_sub_last-date.html' %}
                  {% include 'crm/manager/_client_list_item_balance.html' %}
                  {% include 'crm/manager/_client_list_item_button.html' with action=client.get_active_sub|length|yesno:"mark,new_subscription" %}
                  {% include 'crm/manager/_client_list_item_dropdown-menu.html' %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-marked" role="tabpanel"
               aria-labelledby="pills-marked-tab">
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  ФИО
                </th>
                <th>
                  Абонемент
                </th>
                <th>
                  Дейсвует до
                </th>
                <th>
                  Посл. посещение
                </th>
                <th>
                  Баланс
                </th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
              </thead>
              <tbody>
              {% for attendance in attendance_list_marked %}
                <tr class="{% if attendance.client.balance < 0 %}minus_balance{% endif %} {% if attendance.client.deleted %}archive{% endif %} ">
                  {% include 'crm/manager/_client_list_item_photo.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_info.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_subscription.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_sub_end-date.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_sub_last-date.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_balance.html' with client=attendance.client %}
                  {% include 'crm/manager/_client_list_item_button.html' with client=attendance.client action='unmark' %}
                  {% include 'crm/manager/_client_list_item_dropdown-menu.html' with client=attendance.client %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  {% js 'js/popper.min.js' %}
{% endblock %}
