{% extends "crm/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
{{ filter.form.media.css }}
{% endblock extrahead %}

{% block content %}

<div class="ml-4 mt-4 mr-4">
  <h1 class="border-bottom mb-2">Отчет по тренировкам</h1>
  <div class="sticky-top">
    <form class="form-inline mb-2"
          action="{% url 'crm:manager:event:report' %}" method="GET">
      {% csrf_token %}
      <div>
        {{ filter.form.date.label }}
       {% bootstrap_field filter.form.date show_label=false %}
      </div>
      <div class="ml-2">
        {{ filter.form.coach.label }}
       {% bootstrap_field filter.form.coach show_label=false %}
      </div>
      <div class="ml-2">
        {{ filter.form.event_class.label }}
       {% bootstrap_field filter.form.event_class show_label=false %}
      </div>

      <input type="submit"
                   value="Поиск" class="mt-4 ml-2 btn btn-success"/>
    </form>
  </div>
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Тренер</th>
        <th scope="col">Тренировка</th>
        <th scope="col">Количество человек</th>
        <th scope="col">По разовым абонементам</th>
        <th scope="col">Продано абонементов</th>
        <th scope="col">Прибыль</th>
      </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td>{{ event.date }}</td>
      <td>{{ event.event_class.coach }}</td>
      <td>{{ event.event_class.name }}</td>
      <td>{{ event.get_clients_count }}</td>
      <td>{{ event.get_clients_count_one_time_sub }}</td>
      <td>{{ event.get_subs_sales }}</td>
      <td>{{ event.get_profit }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
{% block extra %}
{{ filter.form.media.js }}
{% endblock extra %}

