{% extends 'crm/base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="w-100">
    <legend class="border-bottom mb-2">Продать абонемент и отметить на занятии
      {{ event.date }} - {{ event.event_class.name }} -
      {{ event.event_class.location }} - {{ event.event_class.coach }}
    </legend>
    <div class="row">
      <form
        action="{% url 'crm:manager:event-class:event:sell-and-mark' event.event_class.id event.date.year event.date.month event.date.day %}"
        method="post"
      >
        <h5>Клиент: {{ client.name }}</h5>

        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Продать и отметить
        </button>
        <a
          type="button" class="btn btn-outline-info" href="{{ form_back }}"
        >Назад</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block extrahead %}
  {{ form.media.css }}
{% endblock %}

{% block extra %}
  {{ form.media.js }}
  <script type="text/javascript">
    $(function () {
      $('#{{ form.subscription.id_for_label }}')
        .on('select2:select', function (e) {
          let $visits = $('#{{ sell_subscription_form.visits_left.id_for_label }}');
          let $price = $('#{{ sell_subscription_form.price.id_for_label }}');
          let $start_date = $('#{{ sell_subscription_form.start_date.id_for_label }}');

          if (e.params.data.id === '') {
            $visits.val('');
            $price.val('');
            $visits.removeAttr('disabled');
          } else {
            let $elem = $(e.params.data.element);
            $visits.val($elem.data('visits'));
            $price.val($elem.data('price'));
            if ($elem.data('onetime')==='True') {
              $visits.attr({
                    'disabled': 'disabled'
                });
              $start_date.val('{{ event.date | date:"d.m.Y" }}');
            }
            else {
              $visits.removeAttr('disabled');
              $start_date.val('{% now "d.m.Y" %}');
            }
          }
        });
    });
  </script>
{% endblock %}
