{% load html_helper %}
<html lang="ru">
<head>
  {% css 'css/vkui.css' %}
</head>

<body>
<div class="page_block">
  <div class="page_block_header">
    Приложение sportcrm
  </div>
  <div style="text-align: center;">
    <div style="padding-top: 10px; padding-bottom: 10px;">
      Приложение для интеграции с
      <a href="https://sportadmin.ru" target="_parent">sportadmin.ru</a>
    </div>
    <div style="padding-bottom: 10px;">
      <a
        class="flat_button"
        href="https://vk.com/add_community_app.php?aid={{ app_id }}"
        target="_parent"
      >
        Установить приложение
      </a>
    </div>
  </div>
</div>
</body>
</html>
