{% extends "crm/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block content %}

  <script language="javascript">
    $(function () {
      function canCheckOverlapping() {
        return $("#id_subscription option:selected") &&
          $('#id_start_date').val() &&
          $('#id_visits_left').val();
      }
      function checkOverlapping() {
        $.get(
          '{% url "crm:manager:client:check-overlapping" %}',
          {
            st: $("#id_subscription option:selected").attr('value'),
            start: $('#id_start_date').val(),
            vl: $('#id_visits_left').val()
          },
          function(data) {
            if (data.is_overlapping && !data.is_overlapping_with_cancelled) {
              $('#is-overlapping').show();
              $('#add-with-autoextend').show();
            } else if (
              data.is_overlapping &&
              data.is_overlapping_with_cancelled &&
              data.canceled_events_count === 0
            ) {
              $('#is-overlapping-total').show();
              //Don't show create with extend, as there no canceled events
            } else if (
              data.is_overlapping &&
              data.is_overlapping_with_cancelled &&
              data.canceled_events_count !== 0
            ) {
              $('#is-overlapping-with-canceled').show();
              $('#add-with-autoextend').show();
            } else {
              $('#add-with-autoextend').hide();
              $('#is-overlapping').hide();
            }
          }
        );
      }


      $("#id_subscription").change(function () {
        $("#id_price").val($(this).find("option:selected").attr("price"));
        $("#id_visits_left").val($(this).find("option:selected").attr("visit_limit"));
        if (canCheckOverlapping()) {
          checkOverlapping();
        }
      });

      $('#id_start_date, #id_visits_left').on('input', function() {
        if (canCheckOverlapping()) {
          checkOverlapping();
        }
      });

      $('button.add-subscription').click(function() {
        $('#add-form').attr('action', $(this).data('action'));
      });
    });
  </script>

  <div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Абонемент</legend>
    <div class="w-100">
      <div class="row">
        <div class="col">
          <form id="add-form" method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
              {% bootstrap_form form %}
            </fieldset>

            <div
              class="alert alert-info"
              id="is-overlapping"
              style="display: none;"
            >
              В тренировочной сетке есть отменённые занятия, из-за которых
              нельзя будет потратить все посещения.
            </div>
            <div
              class="alert alert-info"
              id="is-overlapping-with-canceled"
              style="display: none;"
            >
              В тренировочной сетке есть отменённые занятия, но даже вместе с ними,
              нельзя будет потратить все посещения.
            </div>
            <div
              class="alert alert-info"
              id="is-overlapping-total"
              style="display: none;"
            >
              Количество тренировок в сетке не позволяет потратить все посещения.
            </div>
            <div class="form-group">
              <button
                id="add"
                class="btn btn-outline-info add-subscription"
                type="submit"
                data-action="{% url 'crm:manager:client:new-subscription' client_id %}"
              >
                Добавить
              </button>
              <button
                id="add-with-autoextend"
                class="btn btn-outline-info add-subscription"
                type="submit"
                data-action="{% url 'crm:manager:client:add-subscription-with-extending' client_id %}"
              >
                Добавить с продлением абонемента
              </button>
              <a name="cancel"
                 href="{% url 'crm:manager:client:detail' client_id %}"
                 class="btn btn-outline-info">
                Назад
              </a>
            </div>
          </form>
        </div>
        <div class="col">
          {% if history %}
            <div>История продлений:</div>
            <div>
              <table class="table table-sm table-bordered">
                <thead>
                <tr>
                  <th scope="col">Дата продления</th>
                  <th scope="col">Причина продления</th>
                  <th scope="col">Кол-во занятий</th>
                </tr>
                </thead>
                <tbody>
                {% for hist_obj in history %}
                  <tr>
                    <td>{{ hist_obj.date_extended }}</td>
                    <td>{{ hist_obj.reason }}</td>
                    <td>{{ hist_obj.added_visits }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
