{% extends "crm/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block content %}

  <script language="javascript">
    $(function () {
      let $fStartDate = $('#{{ form.start_date.id_for_label }}');
      let $fEndDate = $('#id_end_date');
      let $fVisitsLeft = $('#{{ form.visits_left.id_for_label }}');
      let $fPrice = $('#{{ form.price.id_for_label }}');
      function updateDateRange(st) {
        $.get(
          '{% url "api-v1:manager:subscription:sell-range" 0 %}'.replace('0', st),
          {
            requested_date: $fStartDate.val()
          },
          function(data) {
            $fStartDate.val(data.start_date);
            $fEndDate.val(data.end_date);
          }
        );
      }
      {% if allow_check_overlapping %}
        function canCheckOverlapping() {
          return $("#id_subscription option:selected") &&
            $fStartDate.val() &&
            $fVisitsLeft.val();
        }
        function checkOverlapping() {
          $('div.overlapping').hide();
          $('#is-overlapping').hide();
          $.get(
            '{% url "crm:manager:client:check-overlapping" %}',
            {
              st: $("#id_subscription option:selected").attr('value'),
              start: $fStartDate.val(),
              vl: $fVisitsLeft.val()
            },
            function (data) {
              if (data.is_overlapping && !data.is_overlapping_with_cancelled) {
                $('#is-overlapping').show();
                $('#add-with-autoextend').show();
              } else if (
                data.is_overlapping &&
                data.is_overlapping_with_cancelled &&
                data.canceled_events_count === 0
              ) {
                $('#is-overlapping-total').show();
                //Don't show create with extend, as there no canceled events
              } else if (
                data.is_overlapping &&
                data.is_overlapping_with_cancelled &&
                data.canceled_events_count !== 0
              ) {
                $('#is-overlapping-with-canceled').show();
                $('#add-with-autoextend').show();
              } else {
                $('div.overlapping').hide();
                $('#is-overlapping').hide();
              }
            }
          );
        }
      {% endif %}

      $('#{{ form.subscription.id_for_label }}')
        .on('select2:select', function (e) {
          if (e.params.data.id === '') {
            $fVisitsLeft.val('');
            $fPrice.val('');
          } else {
            let $elem = $(e.params.data.element);
            $fVisitsLeft.val($elem.data('visits'));
            $fPrice.val($elem.data('price'));
          }
          updateDateRange(e.params.data.id);
          {% if allow_check_overlapping %}
            if (canCheckOverlapping()) {
              checkOverlapping();
            }
          {% endif %}
        });

      $fStartDate.on('input, dp.change', function() {
        updateDateRange($("#id_subscription option:selected").attr('value'));
        {% if allow_check_overlapping %}
          if (canCheckOverlapping()) {
            checkOverlapping();
          }
        {% endif %}
      });

      {% if allow_check_overlapping %}
        $fVisitsLeft.on('input', function () {
          if (canCheckOverlapping()) {
            checkOverlapping();
          }
        });

        $('button.add-subscription').click(function () {
          $('#add-form').attr('action', $(this).data('action'));
        });
        {% comment %}
        Perform forced check, as form may have some attendance selected on
        init
        {% endcomment %}
        if (canCheckOverlapping()) {
            checkOverlapping();
          }
      {% endif %}

    updateDateRange($("#id_subscription option:selected").attr('value'));
    });
  </script>

  <div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">{{ client.name }} - продажа абонемента
    </legend>
    <div class="w-100">
      <div class="row">
        <div class="col">
          <form id="add-form" method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
              {% bootstrap_field form.subscription %}
              <div class="row">
                <div class="col">
                  {% bootstrap_field form.start_date %}
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="id_end_date">Дата окончания</label>
                    <input type="text" name="end_date" class="form-control" placeholder="Дата окончания" title="" disabled="" id="id_end_date">
                  </div>
                </div>
              </div>
              {% bootstrap_field form.price %}
              {% bootstrap_field form.visits_left %}
              {% bootstrap_field form.cash_earned %}
              {% bootstrap_field form.client %}
              {% bootstrap_field form.sold_by %}
            </fieldset>

            <div
              class="alert alert-info overlapping"
              id="is-overlapping"
              style="{% if object and object.is_overlapping and not object.is_overlapping_with_cancelled %}{% else %}display: none;{% endif %}"
            >
              В тренировочной сетке есть отменённые занятия, из-за которых
              нельзя будет потратить все посещения.
            </div>
            <div
              class="alert alert-info overlapping"
              id="is-overlapping-with-canceled"
              style="{% if object and object.is_overlapping and object.is_overlapping_with_cancelled and object.canceled_events_count != 0 %}{% else %}display: none;{% endif %};"
            >
              В тренировочной сетке есть отменённые занятия, но даже вместе с
              ними,
              нельзя будет потратить все посещения.
            </div>
            <div

              class="alert alert-info overlapping"
              id="is-overlapping-total"
              style="{% if object and object.is_overlapping and object.is_overlapping_with_cancelled and object.canceled_events_count == 0  %}{% else %}display: none;{% endif %};"
            >
              Количество тренировок в сетке не позволяет потратить все
              посещения.
            </div>
            <div class="form-group">
              {% if not activated_subscription %}
                <button
                  id="add"
                  class="btn btn-primary add-subscription"
                  type="submit"
                  data-action="{% url 'crm:manager:client:new-subscription' client.id %}"
                >
                  {% if object.id %}Изменить{% else %}Продать{% endif %}
                </button>
              {% endif %}
              {% if allow_check_overlapping %}
                <button
                  id="add-with-autoextend"
                  class="btn btn-outline-info add-subscription"
                  style="display: none;"
                  type="submit"
                  data-action="{% url 'crm:manager:client:add-subscription-with-extending' client.id %}"
                >
                  Добавить с продлением абонемента
                </button>
              {% endif %}
              <a
                name="cancel"
                href="{% url 'crm:manager:client:detail' client.id %}"
                class="btn btn-outline-info"
              >
                Назад
              </a>
            </div>
          </form>
        </div>
        <div class="col">
          {% if history %}
            <div>История продлений:</div>
            <div>
              <table class="table table-sm table-bordered">
                <thead>
                <tr>
                  <th scope="col">Дата продления</th>
                  <th scope="col">Причина продления</th>
                  <th scope="col">Кол-во занятий</th>
                  <th scope="col">Продлен до</th>
                </tr>
                </thead>
                <tbody>
                {% for hist_obj in history %}
                  <tr>
                    <td>{{ hist_obj.date_extended }}</td>
                    <td>{{ hist_obj.reason }}</td>
                    <td>{{ hist_obj.added_visits }}</td>
                    <td>{{ hist_obj.extended_to|date:"d.m.Y" }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
