{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper qr_code humanize static %}

{% block title %}Ученик{% endblock %}
{% block sidbar %}
  {% if event %}
    {% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day as back_link %}
    {% include 'crm/bars/_sidebar_design.html'  with name=event.event_class.name back_link=back_link current='client'%}
  {% else %}
    {% include 'crm/bars/_sidebar_design.html'  with name="Ученик" back_link=False current='client' %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="page student_page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="workout_actions desktop_workout_actions d-none d-md-block">
      <ul class="d-flex justify-content-end">
        <li class="more">
          <div class="btn-group">
            <a href="#"
               class="d-flex"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              <span class="icon align-self-center"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% if client.phone_number %}
                <a class="dropdown-item"
                   href="tel:{{ client.phone_number }}">
                  Позвонить
                </a>
              {% endif %}
              {% if client.vk_user_id %}
                {% if vk_group_id %}
                  <a class="dropdown-item"
                     href="https://vk.com/gim{{ vk_group_id }}?sel={{ client.vk_user_id }}"
                     data-client-id="92">
                    Написать в Вконтакте
                  </a>
                {% else %}
                  <a class="dropdown-item"
                     href="https://vk.com/?sel={{ client.vk_user_id }}"
                     data-client-id="92">
                    Написать в Вконтакте
                  </a>
                {% endif %}
              {% endif %}

              {% ifhasperm 'client.delete' user %}
                <a class="dropdown-item"
                   href="#confirm_popup"
                   data-action-text="В архив"
                   data-title="Перемещение в архив"
                   data-body-text="Переместить в архив?"
                   data-toggle="modal"
                   data-url="{% url "crm:manager:client:delete" client.id %}">
                 Переместить в архив
                </a>
              {% endifhasperm %}

              {% ifhasperm 'client.edit' user %}
                <div class="greyline"></div>
                <a class="dropdown-item"
                   href="{% url 'crm:manager:client:update' client.id %}">
                  Редактировать
                </a>
              {% endifhasperm %}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="bredcams clearfix">
      <ul>
        {% if event %}
          <li>
            <a href="{% url 'crm:manager:event:calendar' %}">Расписание</a>
            <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
          </li>
          <li>
            <a
              href="{% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day %}">{{  event.event_class.name }}</a>
            <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
          </li>
        {% endif %}
        <li>
          Ученик
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>
    <div class="greyline"></div>
    <div class="user_info d-flex">
      <div class="user_pic">
        {% include 'crm/manager/_client_list_item_photo.html' %}
      </div>
      <div class="user_login flex-grow-1">
							<span class="big_name">
                {% ifhasperm 'client.edit' user %}
                  <a href="{% url 'crm:manager:client:update' client.id %}">
                    {{ client.name }}
                  </a>
                {% else %}
                  <a href="#">{{ client.name }}</a>
                {% endifhasperm %}
              </span>
        <div class="contacts">
          <a href="tel:{{ client.phone_number }}">{{ client.phone_number|phone_format }}</a>
        </div>
        <div class="balance green">
          {{ client.balance | floatformat:"-2" | intcomma }} ₽
        </div>
        <a href="{% url 'crm:manager:client:balance:new' client.id %}">
          Изменить баланс
        </a>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 ">
            <ul class="nav nav-pills row no-gutters" id="pills-tab"
                role="tablist">
              <li class="nav-item col-6 col-md-auto text-center text-md-left">
                <a class="nav-link active" id="pills-subscriptions-tab"
                   data-toggle="pill" href="#pills-subscriptions" role="tab"
                   aria-controls="pills-subscriptions" aria-selected="true">Абонементы</a>
              </li>
              <li class="nav-item col-6 col-md-auto text-center text-md-left">
                <a class="nav-link" id="pills-journal-tab" data-toggle="pill"
                   href="#pills-journal" role="tab"
                   aria-controls="pills-journal"
                   aria-selected="false">Журнал</a>
              </li>
              <div class="greyline d-block d-md-none"></div>
              <li class="nav-item col-6 col-md-auto text-center text-md-left">
                <a class="nav-link" id="pills-comment-tab" data-toggle="pill"
                   href="#pills-comment" role="tab"
                   aria-controls="pills-comment" aria-selected="false">Информация</a>
              </li>
              <li class="nav-item col-6 col-md-auto text-center text-md-left">
                <a class="nav-link" id="pills-qr-tab" data-toggle="pill"
                   href="#pills-qr" role="tab" aria-controls="pills-qr"
                   aria-selected="false">QR</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="greyline"></div>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-subscriptions"
               role="tabpanel" aria-labelledby="pills-subscriptions-tab">
            <!- Новый абонемент ->
            <table class="table table-hover buy_subscriptions">
              <tbody>
              <tr class="{{ hide_form|yesno:",active" }}">
                <td width="27">
                  <a class="btn btn-icon btn-down" href="#"><span></span></a>
                </td>
                <td>
                  <a href="#" class="fio_name">НОВЫЙ АБОНЕМЕНТ</a>
                </td>
              </tr>
              {% if hide_form %}
                <tr class="active_info " style="display: none;">
                  {% else %}
                <tr class="active_info active" style="display: table-row;">
              {% endif %}
              <td colspan="2">
                <form id="add-form" method="POST" action="">
                  {% csrf_token %}
                  {% bootstrap_field form.go_back %}
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 col-md-6 form-group">
                        {% bootstrap_field form.subscription %}
                      </div>
                      <div class="col-12 col-md-3 form-group">
                        {% bootstrap_field form.price %}
                      </div>
                      <div class="col-12 col-md-3 col-xl-3 form-group">
                        {% bootstrap_field form.visits_left %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group datepick col-12 col-sm-6 col-md-3">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                      </div>
                      <div class="form-group datepick col-12 col-sm-6 col-md-3">
                        <label for="id_end_date">Дата окончания</label>
                        <input type="text" name="end_date"
                               class="form-control"
                               placeholder="Дата окончания" title=""
                               disabled="" id="id_end_date">
                      </div>
                      <div class="col-12 col-md-4 col-xl-3 d-flex align-items-end form-group">
                        <div class="form-check d-flex skip_line">
                          <label class="form-check-label" for="{{ form.cash_earned.id_for_label }}">
                            {{ form.cash_earned }}
                            <div class="form-check-input-div"></div>
                          </label>
                          <label class="form-check-label" for="{{ form.cash_earned.id_for_label }}">Деньги
                            получены</label>
                        </div>
                      </div>
                    </div>
                    <div
                      class="alert alert-info overlapping"
                      id="is-overlapping"
                      style="display: none;"
                    >
                      В тренировочной сетке есть отменённые занятия, из-за
                      которых
                      нельзя будет потратить все посещения.
                    </div>
                    <div
                      class="alert alert-info overlapping"
                      id="is-overlapping-with-canceled"
                      style="display: none;"
                    >
                      В тренировочной сетке есть отменённые занятия, но даже
                      вместе с
                      ними, нельзя будет потратить все посещения.
                    </div>
                    <div
                      class="alert alert-info overlapping"
                      id="is-overlapping-total"
                      style="display: none;"
                    >
                      Количество тренировок в сетке не позволяет потратить все
                      посещения.
                    </div>
                    {% bootstrap_field form.client %}
                    {% bootstrap_field form.sold_by %}
                    <div class="form-group save_buttons">
                      {% if not activated_subscription %}
                        <button
                          id="add"
                          class="btn btn-primary add-subscription"
                          type="submit"
                          {% if event and not object.id  %}
                          data-action="{% url 'crm:manager:client:new-subscription-with-event-by-date' client.id  event.event_class.id event.date.year event.date.month event.date.day %}">
                          {% else %}
                          data-action="{% url 'crm:manager:client:new-subscription' client.id %}">
                          {% endif %}
                          {% if object.id %}Изменить{% else %}Продать{% endif %}
                        </button>
                      {% endif %}
                      {% if allow_check_overlapping %}
                        <button
                          id="add-with-autoextend"
                          class="btn"
                          style="display: none;"
                          type="submit"
                          data-action="{% url 'crm:manager:client:add-subscription-with-extending' client.id %}">
                          Добавить с продлением абонемента
                        </button>
                      {% endif %}
                      <a name="cancel"
                        {% if event %}
                         href="{% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day %}"
                        {% else %}
                         href="{% url 'crm:manager:client:detail' client.id %}"
                        {% endif %}
                         class="btn cancel">
                        Назад
                      </a>
                    </div>
                  </div>
                </form>
              </td>
              </tr>
              </tbody>
            </table>
            <!- Абонементы -!>
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  Наименование
                </th>
                <th class="d-none d-md-block">
                  Продано
                </th>
                <th class="d-none d-md-block">
                  Начало
                </th>
                <th class="d-none d-md-block">
                  Окончание
                </th>
                <th class="d-none d-md-block">
                  Посл. посещение
                </th>
                <th class="d-none d-md-block">
                  Цена
                </th>
                <th width="1"></th>
                <th width="1"></th>
                <th width="1" class="d-md-none"></th>
              </tr>
              </thead>
              <tbody>
              {% for sub in client.clientsubscriptions_set.all|dictsortreversed:"end_date" %}
                <tr {% if not sub.is_active %}class="archive"{% endif %}>
                  <td width="27">
                    <a class="btn btn-icon btn-down d-md-none"
                       href="#"><span></span></a>
                  </td>
                  <td>
                    <span class="fio_name">{{ sub.subscription.name }}</span>
                    <div>
                      <small>Посещения: {{ sub.visits_left }} из {{ sub.visits_on_by_time }}</small>
                    </div>
                  </td>
                  <td class="d-none d-md-block">
                    {{ sub.purchase_date|date:"SHORT_DATE_FORMAT" }}
                    <br/>
                    <small>{{ sub.sold_by|default_if_none:'' }}</small>
                  </td>
                  <td class="d-none d-md-block">
                    {{ sub.start_date|date:"SHORT_DATE_FORMAT" }}
                  </td>
                  <td>
                    <div class="date_end">
                      <div class="d-block d-md-none">
                        <small>Действует до:</small>
                      </div>
                      {{ sub.end_date|date:"SHORT_DATE_FORMAT" }}
                    </div>
                  </td>
                  <td class="d-none d-md-block">
                    {{ sub.last_visited_event.date|date:"SHORT_DATE_FORMAT" }}
                  </td>
                  <td class="d-none d-md-block">
                    {% if sub.price %}
                      {{ sub.price | floatformat:"-2" | intcomma }} ₽
                    {% endif %}
                  </td>
                  <td class="d-none d-md-block">
                    {% if  sub.is_active %}
                      {% ifhasperm 'client_subscription.extend' user %}
                        <a class="btn btn-icon btn-extend"
                           href="{% url 'crm:manager:client:subscription:extend' sub.id %}">
                          <span></span>
                          <abbr>Продлить</abbr>
                        </a>
                      {% endifhasperm %}
                    {% endif %}
                  </td>
                  <td class="d-none d-md-block">
                    {% if  sub.is_active %}
                      {% ifhasperm 'client_subscription.delete' user %}
                        {% if sub.visits_on_by_time == sub.visits_left %}
                          <a class="btn btn-icon btn-delete"
                         href="#confirm_popup"
                         data-action-text="Удалить"
                         data-title="Удаление абонемента"
                         data-body-text="Удалить абонемент?"
                         data-toggle="modal"
                         data-url="{% url 'crm:manager:client:subscription:delete' sub.id %}">
                        <span></span>
                        <abbr>Удалить</abbr>
                      </a>
                        {% endif %}
                      {% endifhasperm %}
                    {% endif %}
                  </td>
                  <td class="d-md-none" width="1">
                   {% if  sub.is_active %}
                    <div class="btn-group">
                      <a class="btn btn-icon btn-more" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false"><span></span></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        {% ifhasperm 'client_subscription.extend' user %}
                          <a class="dropdown-item"
                             href="{% url 'crm:manager:client:subscription:extend' sub.id %}"
                             data-client-id="{{ client.id }}">
                            Продлить
                          </a>
                        {% endifhasperm %}
                        {% ifhasperm 'client_subscription.delete' user %}
                          {% if sub.visits_on_by_time == sub.visits_left %}
                            <a class="dropdown-item"
                         href="#confirm_popup"
                         data-action-text="Удалить"
                         data-title="Удаление абонемента"
                         data-body-text="Удалить абонемент?"
                         data-toggle="modal"
                         data-url="{% url 'crm:manager:client:subscription:delete' sub.id %}">
                        <span></span>
                        <abbr>Удалить</abbr>
                      </a>
                          {% endif %}
                        {% endifhasperm %}
                      </div>
                    </div>
                    {% endif %}
                  </td>
                </tr>
                <tr class="active_info">
                  <td></td>
                  <td colspan="7">
                    <div class="row">
                      <div class="col-6 col-md-5 col-xl-3">
                        <p>
                          <small>Продажа</small>
                          <br/>
                          {{ sub.purchase_date|date:"SHORT_DATE_FORMAT" }} — {{ sub.sold_by }}
                        </p>
                      </div>
                      <div class="col-6 col-md-5 col-xl-3">
                        <p>
                          <small>Стоимость</small>
                          <br/>
                          {% if sub.price %}{{ sub.price | floatformat:"-2" | intcomma }} ₽{% endif %}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-5 col-xl-3">
                        <p>
                          <small>Начало действия</small>
                          <br/>
                          {{ sub.start_date|date:"d M Y" }}
                        </p>
                      </div>
                      <div class="col-6 col-md-5 col-xl-3">
                        <p>
                          <small>Окончание действия</small>
                          <br/>
                          {{ sub.end_date|date:"d M Y" }}
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="pills-journal" role="tabpanel"
               aria-labelledby="pills-journal-tab">
            <div class="col-12 col-md-10 col-xl-6">
              <table class="table">
                {% for item in attendance_with_balance %}
                  {% if item.change_value %}
                    <tr>
                      <td>
                        {{ item.entry_date|time }}<br>
                        {{ item.entry_date|date:"d M Y" }}
                      </td>
                      <td>
                       Изменение счета -
                        <a href="#" class="fio_name">
                          {% if item.reason %}
                            {{ item.reason }}
                          {% else %}
                            (Причина не указана)
                          {% endif %}
                        </a>
                        <div>
                          <small>{{ item.subscription.subscription.name }}</small>
                        </div>
                      </td>
                      <td>
                        <span class="{% if item.change_value < 0 %}orange{% else %}green{% endif %}">
                          {{ item.change_value|floatformat:"-2"|intcomma }} ₽
                        </span>
                      </td>
                    </tr>
                  {% elif item.date_extended %}
                    <tr>
                      <td>
                        {{ item.date_extended|time }}<br>
                        {{ item.date_extended|date:"d M Y" }}
                      </td>
                      <td>
                        Продление -
                        <a href="#" class="fio_name">
                          {% if item.reason %}
                            {{ item.reason }}
                          {% else %}
                            (Причина не указана)
                          {% endif %}
                        </a>
                        <div>
                          <small>{{ item.client_subscription.name }}</small>
                        </div>
                      </td>
                      <td>
                        <span class="{% if item.added_visits < 0 %}orange{% else %}green{% endif %}">
                          {{ item.added_visits }}
                        </span>
                      </td>
                    </tr>
                  {% elif item.event %}
                    <tr>
                      <td>
                        {{ item.event.start_time }}<br>
                        {{ item.event.date|date:"d M Y" }}
                      </td>
                      <td>
                       Тренировка -
                        <a href="{% url 'crm:manager:event-class:event:event-by-date' item.event.event_class.id item.event.date.year item.event.date.month item.event.date.day %}" class="fio_name">
                          {{ item.event.event_class }}
                        </a>
                        <div {% if not item.subscription %}class="orange"{% endif %}>
                          <small>
                            {% if item.subscription %}
                              {{ item.subscription }}
                            {% else %}
                              Записался, но не пришел
                            {% endif %}
                          </small>
                        </div>
                      </td>
                      <td>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-comment" role="tabpanel"
               aria-labelledby="pills-comment-tab">
            <div class="row">
              <div class="col-12 col-md-5 col-xl-3">
                <h5>Об ученике:</h5>
                {% if client.phone_number %}
                  <p>
                    Телефон:
                    <a href="tel:{{ client.phone_number }}">
                      {{ client.phone_number|phone_format }}
                    </a>
                  </p>
                {% endif %}
                {% if client.vk_user_id %}
                  <p>
                    Страница ВК:
                    <a href="https://vk.com/id{{ client.vk_user_id }}">
                      vk.com/id{{ client.vk_user_id }}
                    </a>
                  </p>
                {% endif %}
                {% if client.email_address %}
                  <p>
                    E-mail:
                    <a href="mail:{{ client.email_address }}">
                      {{ client.email_address }}
                    </a>
                  </p>
                {% endif %}
                {% if client.birthday %}
                  <p>
                    Дата рождения: {{ client.birthday }}
                  </p>
                {% endif %}
              </div>
              {% if client.additional_info %}
                <div class="col-12 col-md-5 col-xl-3">
                  <h5>Дополнительная информация:</h5>
                  {{ client.additional_info|truncatechars:300|linebreaksbr }}
                </div>
              {% endif %}
            </div>
          </div>

          <div class="tab-pane fade" id="pills-qr" role="tabpanel"
               aria-labelledby="pills-qr-tab">
            <div class="qr-code">
              <img src="{% qr_url_from_text client.qr_code.hex error_correction=" H" %}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script>
    enquire.register("screen and (max-width: 720px)", {
      match: function () {
        $('.selectpicker').attr('data-mobile', 'true');
      }
    });
    $(function () {
      {% if event %}
        let date = '{{ event.date|date:"SHORT_DATE_FORMAT" }}';
      {% else %}
        let date = '';
      {% endif %}
      let $fStartDate = $('#{{ form.start_date.id_for_label }}');
      let $fEndDate = $('#id_end_date');
      let $fVisitsLeft = $('#{{ form.visits_left.id_for_label }}');
      let $fPrice = $('#{{ form.price.id_for_label }}');

      $fStartDate.datepicker({
        uiLibrary: 'bootstrap4',
        locale: 'ru-ru',
        format: 'dd.mm.yyyy',
        modal: false,
        icons: {
          rightIcon: '<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 4H0V11H10V4H9V10H1V4Z" fill="#76818F"/><rect y="1" width="10" height="2" fill="#76818F"/><rect x="1" width="2" height="1" fill="#76818F"/><rect x="7" width="2" height="1" fill="#76818F"/></svg>'
        },
        change: function (e) {
          updateDateRange($("#id_subscription option:selected").attr('value'));

          if (canCheckOverlapping()) {
            checkOverlapping();
          }
        }
      });

      function updateDateRange(st) {
        $.get(
          '{% url "api-v1:manager:subscription:sell-range" 0 %}'.replace('0', st), {
            requested_date: $fStartDate.val()
          },
          function (data) {
            $fStartDate.val(data.start_date);
            $fEndDate.val(data.end_date);
          }
        );
      }

      {% if allow_check_overlapping %}
        function canCheckOverlapping() {
          return $("#id_subscription option:selected") &&
            $fStartDate.val() &&
            $fVisitsLeft.val();
        }

        function checkOverlapping() {
          $('div.overlapping').hide();
          $('#is-overlapping').hide();
          $.get(
            '{% url "crm:manager:client:check-overlapping" %}', {
              st: $("#id_subscription option:selected").attr('value'),
              start: $fStartDate.val(),
              vl: $fVisitsLeft.val()
            },
            function (data) {
              if (data.is_overlapping && !data.is_overlapping_with_cancelled) {
                $('#is-overlapping').show();
                $('#add-with-autoextend').show();
              } else if (
                data.is_overlapping &&
                data.is_overlapping_with_cancelled &&
                data.canceled_events_count === 0
              ) {
                $('#is-overlapping-total').show();
                //Don't show create with extend, as there no canceled events
              } else if (
                data.is_overlapping &&
                data.is_overlapping_with_cancelled &&
                data.canceled_events_count !== 0
              ) {
                $('#is-overlapping-with-canceled').show();
                $('#add-with-autoextend').show();
              } else {
                $('div.overlapping').hide();
                $('#is-overlapping').hide();
              }
            }
          );
        }
      {% endif %}

      $('#{{ form.subscription.id_for_label }}')
        .change(function (e) {
          var $elem = $(e.currentTarget).find('option:selected').first();
          let id = $elem.val();
          if (id === '') {
            $fVisitsLeft.val('');
            $fPrice.val('');
          } else {
            $fVisitsLeft.val($elem.data('visits'));
            $fPrice.val($elem.data('price'));
            if (date !== ''){
              $fStartDate.val(date);
            }

            updateDateRange(id);
            if (canCheckOverlapping()) {
              checkOverlapping();
            }
          }
        });

      $fVisitsLeft.on('input', function () {
        if (canCheckOverlapping()) {
          checkOverlapping();
        }
      });

      $('button.add-subscription').click(function () {
        $('#add-form').attr('action', $(this).data('action'));
      });

      if (canCheckOverlapping()) {
        checkOverlapping();
      }

      updateDateRange($("#id_subscription option:selected").attr('value'));
    });
  </script>
{% endblock %}
