{% extends "crm/base.html" %}

{% block content %}
  <div class="content-section mt-4 ml-4">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-2">Ученик</legend>
        <h2>Вы действительно хотите вернуть ученика "{{ object.name }}"?</h2>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-success" type="submit">вернуть</button>
        <a class="btn btn-outline-info"
           href="{% url 'crm:manager:client:list' %}">Отмена</a>
      </div>
    </form>
  </div>
{% endblock content %}
