{% extends "crm/base_design.html" %}

{% load bootstrap4 %}

{% block sidbar %}
  {% url 'crm:manager:client:list' as back_link %}
  {% if object.id %}
    {% include 'crm/bars/_sidebar_design.html'  with name=object.name back_link=back_link %}
  {% else %}
    {% include 'crm/bars/_sidebar_design.html'  with name="Новый ученик" back_link=back_link %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="bredcams clearfix">
      <ul>
        <li>
          <a href="{% url 'crm:manager:client:list' %}">Ученики</a>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
        <li>
          {% if object.id %}{{ object.name }}{% else %}Новый ученик {% endif %}
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <form method="POST" action="">
      {% csrf_token %}
      {% include 'crm/manager/_client_form.html'  with form=form %}
      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Сохранить">
        <a name="cancel" href="

          {% if object.id %}{% url 'crm:manager:client:detail' object.id %}{% else %}{% url 'crm:manager:client:list' %}{% endif %}"
           class="btn">Отмена</a>
      </div>
    </form>
  </div>
{% endblock content %}

{% block extrajs %}
  <script>
    $('#id_birthday').datepicker({
      uiLibrary: 'bootstrap4',
      locale: 'ru-ru',
      format: 'dd.mm.yyyy',
      modal: false,
      icons: {
        rightIcon: '<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 4H0V11H10V4H9V10H1V4Z" fill="#76818F"/><rect y="1" width="10" height="2" fill="#76818F"/><rect x="1" width="2" height="1" fill="#76818F"/><rect x="7" width="2" height="1" fill="#76818F"/></svg>'
      }
    });
    var cleave = new Cleave('#id_phone_number', {
      phone: true,
      phoneRegionCode: 'RU'
    });
  </script>
{% endblock %}
