{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}

{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Ученики" back_link=False %}
{% endblock %}

{% block content %}
  <div class="page students_page col-md-12 col-lg-9 col-xl-10">
    {% ifhasperm 'client.add' user %}
      <a class="btn btn-primary btn-new" href="{% url 'crm:manager:client:new' %}">Новый</a>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Ученики
        </li>
      </ul>
    </div>
    <div class="greyline"></div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 d-none d-md-block">
            <ul class="nav nav-pills row no-gutters" id="pills-tab" role="tablist">
              <li class="nav-item col-auto text-center text-md-left">
                <a
                  class="nav-link {% if not filter.form.debtor.data and  not filter.form.long_time_not_go.data %}active{% endif %}"
                  href="{% url 'crm:manager:client:list' %}"
                  role="tab"
                  aria-controls="pills-all"
                  aria-selected="{% if not filter.form.debtor.data %}true{% else %}false{% endif %}">Все</a>
              </li>
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if filter.form.debtor.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}?debtor=True" role="tab"
                   aria-controls="pills-debtor"
                   aria-selected="{% if filter.form.debtor.data %}true{% else %}false{% endif %}">Должники</a>
              </li>
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if filter.form.long_time_not_go.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}?long_time_not_go=True" role="tab"
                   aria-controls="pills-long"
                   aria-selected="{% if filter.form.long_time_not_go.data %}true{% else %}false{% endif %}">Давно не
                  были</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group live_search">
              <span class="icon"></span>
              <input type="text" id="table_search" class="form-control" placeholder="Найти"/>
            </div>
          </div>
        </div>
        <div class="greyline"></div>
        {% if clients %}
          <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  ФИО
                </th>
                <th>
                  Абонемент
                </th>
                <th>
                  Действует до
                </th>
                <th>
                  Посл. посещение
                </th>
                <th>
                  Баланс
                </th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
              </thead>
              <tbody>
              {% for client in clients %}
                {% with active_sub=client.get_active_sub last_sub=client.last_sub %}
                  <tr
                    class="{% if client.balance < 0 %}minus_balance{% endif %} {% if client.deleted %}archive{% endif %} ">
                    <td class="td_photo">{% include 'crm/manager/_client_list_item_photo.html' %}</td>
                    <td>{% include 'crm/manager/_client_list_item_info.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_subscription.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_sub_purchase-date.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_sub_start-date.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_sub_end-date.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_sub_last-date.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_balance.html' %}</td>
                    <td width="1">{% include 'crm/manager/_client_list_item_dropdown-menu.html' %}</td>
                  </tr>
                {% endwith %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
          <p>Ваш список учеников пуст</p>
        {% endif %}
      </div>
    </div>
    {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
