{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}
{% block title %}Ученики{% endblock %}
{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Ученики" back_link=False current='client' %}
{% endblock %}

{% block content %}
  <div class="page students_page col-md-12 col-lg-9 col-xl-10" xmlns="http://www.w3.org/1999/html">
   <div class="row">
      <div class="col-12 alert-box">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% ifhasperm 'client.add' user %}
      <a class="btn btn-primary btn-new" href="{% url 'crm:manager:client:new' %}">Новый</a>
      <div class="workout_actions">
          <ul class="d-flex">
              <li class="more">
                  <div class="btn-group">
                      <a href="#" class="d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon align-self-center"></span></a>
                      <div class="dropdown-menu dropdown-menu-right">
                          {# TODO: Ссылку надо сделать правильную #}
                          <a class="dropdown-item" href="/manager/clients/upload-excel/">
                              Добавить учеников из файла
                          </a>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Ученики
        </li>
      </ul>
    </div>
    <div class="greyline"></div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 d-md-block">
            <ul class="nav nav-pills row no-gutters" id="pills-tab" role="tablist">
              <li class="nav-item col-auto text-center text-md-left">
                <a
                  class="nav-link {% if not filter.form.debtor.data and  not filter.form.long_time_not_go.data %}active{% endif %}"
                  href="{% url 'crm:manager:client:list' %}"
                  role="tab"
                  aria-controls="pills-all"
                  aria-selected="{% if not filter.form.debtor.data %}true{% else %}false{% endif %}">Все
                  {% if all_clients_count %}{{ all_clients_count }}{% endif %}
                </a>
              </li>
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if filter.form.debtor.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}?debtor=True" role="tab"
                   aria-controls="pills-debtor"
                   aria-selected="{% if filter.form.debtor.data %}true{% else %}false{% endif %}">Должники
                  {% if debtor_count %}{{ debtor_count }}{% endif %}
                </a>
              </li>
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if filter.form.long_time_not_go.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}?long_time_not_go=True" role="tab"
                   aria-controls="pills-long"
                   aria-selected="{% if filter.form.long_time_not_go.data %}true{% else %}false{% endif %}">Давно не
                  были {% if long_time_not_go_count %}{{ long_time_not_go_count }}{% endif %}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <div id="table_search" class="form-group live_search">
              <span class="icon"></span>
              <form action="?{{ filter.data.urlencode }}">
                {% if filter.form.with_archive.value %}
                  {{ filter.form.with_archive.as_hidden }}
                {% endif %}
                {% if filter.form.debtor.value %}
                  {{ filter.form.debtor.as_hidden }}
                {% endif %}
                {% if filter.form.long_time_not_go.value %}
                  {{ filter.form.long_time_not_go.as_hidden }}
                {% endif %}
                <div class="form-group input-group live_search">
                  <input type="text" id="table_live_search" name="name"
                         value="{{ filter.form.name.value|default_if_none:'' }}" class="form-control"
                         placeholder="Найти"/>
                  <!--
                  <span class="icon"></span>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
                  </div>
                  -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="greyline"></div>
        {% if clients %}
          <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  ФИО
                </th>
                <th class="d-none d-md-block">
                  Абонемент
                </th>
                <th class="d-none d-md-block">
                  Продано
                </th>
                <th class="d-none d-md-block text-center">
                  Начало
                </th>
                <th class="d-none d-md-block text-center">
                  Окончание
                </th>
                <th class="d-none d-md-block text-center">
                  Посл. посещение
                </th>
                <th class="d-none d-md-block text-right">
                  Баланс
                </th>
              </tr>
              </thead>
              <tbody>
              {% for client in clients|dictsort:"name.lower" %}
                {% with active_sub=client.get_active_sub last_sub=client.last_sub %}
                  <tr class="{% if client.balance < 0 %}minus_balance{% endif %} {% if client.deleted %}archive{% endif %}">
                    <td class="td_photo">{% include 'crm/manager/_client_list_item_photo.html' %}</td>
                    <td>{% include 'crm/manager/_client_list_item_info.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_subscription.html' %}</td>
                    <td class="d-none d-md-block">{% include 'crm/manager/_client_list_item_sub_purchase-date.html' %}</td>
                    <td class="d-none d-md-block text-center">{% include 'crm/manager/_client_list_item_sub_start-date.html' %}</td>
                    <td class="d-none d-md-block text-center">{% include 'crm/manager/_client_list_item_sub_end-date.html' %}</td>
                    <td class="d-none d-md-block text-center">{% include 'crm/manager/_client_list_item_sub_last-date.html' %}</td>
                    <td class="d-none d-md-block text-right">{% include 'crm/manager/_client_list_item_balance.html' %}</td>
                  </tr>
                {% endwith %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
          <p>Ваш список учеников пуст</p>
        {% endif %}
      </div>
    </div>
    {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
