{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}

{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Ученики" back_link=False %}
{% endblock %}

{% block content %}
  <div class="page students_page col-md-12 col-lg-9 col-xl-10">
    {% ifhasperm 'client.add' user %}
      <a class="btn btn-primary btn-new" href="{% url 'crm:manager:client:new' %}">Новый</a>
    {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Ученики
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-8 d-none d-md-block">
            <ul class="nav nav-pills row no-gutters" id="pills-tab" role="tablist">
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if  not filter.form.debtor.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}"
                   role="tab"
                   aria-controls="pills-all" aria-selected="true">Все</a>
              </li>
              <li class="nav-item col-auto text-center text-md-left">
                <a class="nav-link {% if filter.form.debtor.data %}active{% endif %}"
                   href="{% url 'crm:manager:client:list' %}?debtor=True" role="tab"
                   aria-controls="pills-debtor" aria-selected="false">Должники</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group live_search">
              <span class="icon"></span>
              <input type="text" id="table_search" class="form-control" placeholder="Найти"/>
            </div>
          </div>
        </div>

        <div class="greyline"></div>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <table class="table table-hover">
              <thead class="d-none d-md-block">
              <tr>
                <th></th>
                <th>
                  ФИО
                </th>
                <th>
                  Абонемент
                </th>
                <th>
                  Действует до
                </th>
                <th>
                  Посл. посещение
                </th>
                <th>
                  Баланс
                </th>
                <th width="1"></th>
                <th width="1"></th>
              </tr>
              </thead>
              <tbody>
              {% for client in clients %}
                <tr
                  class="{% if client.balance < 0 %}minus_balance{% endif %} {% if client.deleted %}archive{% endif %} ">
                  <td class="td_photo">
                    {% if client.vk_user_id %}
                      {% if vk_group_id %}
                        <a href="https://vk.com/gim{{ vk_group_id }}?sel={{ client.vk_user_id }}">
                          <img src="{% vk_small_avatar client.vk_user_id %}" class="photo">
                        </a>
                      {% else %}
                        <a href="https://vk.com/?sel={{ client.vk_user_id }}">
                          <img src="{% vk_small_avatar client.vk_user_id %}" class="photo">
                        </a>
                      {% endif %}
                    {% else %}
                      <a href="#"><img src="{% static "img/no-photo.png" %}" class="photo"></a>
                    {% endif %}
                  </td>
                  <td>
                    <div class="balance d-md-none">
                      <span
                        class="{% if client.balance < 0 %}orange{% else %}green{% endif %}">{{ client.balance|floatformat:"-2"|intcomma }}&nbsp;₽</span>
                    </div>
                    <a href="
                      {% if not client.deleted %}{% url 'crm:manager:client:detail' client.id %}{% else %}#{% endif %}"
                       class="fio_name">{{ client.name }}</a>
                    <div class="d-none d-md-block">
                      <small>{{ client.phone_number }}</small>
                    </div>
                    <div class="d-md-none">
                      {% if not client.last_sub %}
                        <small>Без абонемента</small>
                      {% else %}
                        <small>{{ client.last_sub.subscription }}</small></br>
                        <small>Осталось посещений: {{ client.last_sub.visits_left }}</small>
                      {% endif %}
                    </div>
                  </td>
                  <td class="d-none d-md-block">
                    {% if not client.last_sub %}
                      Без абонемента</br>
                      <a class="sell" href="{% url 'crm:manager:client:new-subscription' client.id %}">Продать</a>
                    {% else %}
                      {{ client.last_sub.subscription }}
                    {% endif %}
                  </td>
                  <td class="d-none d-md-block">
                    {{ client.last_sub.end_date|date:'d.m.Y' }}
                  </td>
                  <td class="d-none d-md-block">
                    {% if client.last_attendance %}
                      {{ client.last_attendance.event.date|date:'d.m.Y' }}
                    {% endif %}
                  </td>
                  <td class="d-none d-md-block">
                    <span
                      class="{% if client.balance < 0 %}orange{% else %}green{% endif %}">{{ client.balance|floatformat:"-2"|intcomma }}&nbsp;₽</span>
                  </td>
                  <td>
                    <a class="btn btn-icon btn-pay"
                       href="{% url 'crm:manager:client:balance:new' client.id %}"><span></span><abbr>Пополнить</abbr></a>
                  </td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-icon btn-more" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false"><span></span></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        {% if not client.deleted %}
                          {% if has_active_event_class %}
                            <a class="dropdown-item" href="{% url 'crm:manager:client:new-subscription' client.id %}"
                               data-client-id="92">Продать абонемент</a>
                          {% endif %}
                          <a class="dropdown-item" href="{% url 'crm:manager:client:balance:new' client.id %}"
                             data-client-id="92">Пополнить баланс</a>
                          <a class="dropdown-item" href="{% url 'crm:manager:client:detail' client.id %}"
                             data-client-id="92">Перейти к карточке ученика</a>
                          {% if client.vk_user_id or client.phone_number %}
                            <div class="greyline"></div>
                            {% if client.vk_user_id %}
                              {% if vk_group_id %}
                                <a class="dropdown-item"
                                   href="https://vk.com/gim{{ vk_group_id }}?sel={{ client.vk_user_id }}"
                                   data-client-id="92">
                                  Написать в Вконтакте
                                </a>
                              {% else %}
                                <a class="dropdown-item" href="https://vk.com/?sel={{ client.vk_user_id }}"
                                   data-client-id="92">
                                  Написать в Вконтакте
                                </a>
                              {% endif %}
                            {% endif %}
                            {% if client.phone_number %}
                              <a class="dropdown-item" href="tel:{{ client.phone_number }}"
                                 data-client-id="92">Позвонить</a>
                            {% endif %}
                          {% endif %}
                          <div class="greyline"></div>
                          <a class="dropdown-item" href="{% url 'crm:manager:client:delete' client.id %}"
                             data-client-id="{{ client.id }}">Переместить в архив</a>
                        {% else %}
                          <a class="dropdown-item" href="{% url 'crm:manager:client:undelete' client.id %}"
                             data-client-id="{{ client.id }}">Вернуть из архива</a>
                        {% endif %}
                      </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>

        <div id="show_archive" class="form-check">
          <div>
            <label class="form-check-label" for="archive">
              <input id="archive" type="checkbox" class="form-check-input">
              <div class="form-check-input-div"></div>
              Показать архивные
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
