{% extends "crm/base.html" %}
{% load bootstrap4 %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}

<div class="container-fluid mt-4 ml-2">
  <legend class="border-bottom mb-2">Загрузить из Excel</legend>
  <div class="w-25">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        {% bootstrap_form form %}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Загрузить</button>
        <a name="cancel" href="{% url 'crm:manager:client:list' %}"
           class="btn btn-outline-info">Назад</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
