{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper %}

{% block title %}Тренировка{% endblock %}
{% block sidbar %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Расписание" back_link=False current='event' %}
{% endblock %}


{% block extrahead %}
  {{ eventclass_form.media.css }}
  {{ weekdays.media.css }}
{% endblock %}


{% block extrajs %}
  {{ eventclass_form.media.js }}
  <script type="text/javascript">
    enquire.register("screen and (max-width: 720px)", {
      match: function () {
        $('.selectpicker').attr('data-mobile', 'true');
      }
    });
    $(function () {

        $('.time').toArray().forEach(function(field) {
				  new Cleave(field, {
				    time: true,
				    timePattern: ['h', 'm']
				  });
			});

      $('#{{ eventclass_form.date_from.id_for_label}}').datepicker({
        uiLibrary: 'bootstrap4',
        locale: 'ru-ru',
        format: 'dd.mm.yyyy',
        modal: false,
        icons: {
          rightIcon: '<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 4H0V11H10V4H9V10H1V4Z" fill="#76818F"/><rect y="1" width="10" height="2" fill="#76818F"/><rect x="1" width="2" height="1" fill="#76818F"/><rect x="7" width="2" height="1" fill="#76818F"/></svg>'
        }
      });
      $('#{{ eventclass_form.date_to.id_for_label }}').datepicker({
        uiLibrary: 'bootstrap4',
        locale: 'ru-ru',
        format: 'dd.mm.yyyy',
        modal: false,
        icons: {
          rightIcon: '<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 4H0V11H10V4H9V10H1V4Z" fill="#76818F"/><rect y="1" width="10" height="2" fill="#76818F"/><rect x="1" width="2" height="1" fill="#76818F"/><rect x="7" width="2" height="1" fill="#76818F"/></svg>'
        }
      });

      $('#save-ec').click(function(e) {
        if ($('input:checkbox.day-of-week:checked').length === 0) {
          $('div.messages').append(
            '<div class="alert alert-danger alert-dismissible fade show" role="alert">\n' +
            '  Не выбрано ни одного дня проведения тренировки!\n' +
            '  <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
            '    <span aria-hidden="true">&times;</span>\n' +
            '  </button>\n' +
            '</div>');
          window.scroll(0, 0);
          e.preventDefault();
        }
      });
    });
  </script>
{% endblock extrajs %}

{% block content %}
  <div class="page new_class col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          <a href="{% url 'crm:manager:event:calendar' %}">Расписание</a>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
        <li>
          Новая
        </li>
      </ul>
    </div>
    <div class="greyline"></div>

    <div class="messages"></div>

    <form action="" method="POST">
      {% csrf_token %}

      <div class="form-group row">
        <div class="col-12 col-md-10 col-xl-6">
          {% bootstrap_field eventclass_form.name %}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-10 col-xl-6">
          {% bootstrap_field eventclass_form.location %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-xl-4">
          {% bootstrap_field eventclass_form.coach %}
        </div>
        <div class="form-group col-sm-6 col-md-4 col-xl-2">
          {% bootstrap_field eventclass_form.one_time_price %}
        </div>
      </div>
      <div class="row">
        <div class="form-group datepick col-12 col-sm-6 col-md-3">
          {% bootstrap_field eventclass_form.date_from %}
        </div>
        <div class="form-group datepick col-12 col-sm-6 col-md-3">
          {% bootstrap_field eventclass_form.date_to %}
        </div>
      </div>
      <div class="form-group row days timepick">
        {% for weekday in weekdays  %}
        <div class="col-6 col-md-3 col-lg day">
          {% bootstrap_dayofweek_render weekday.checked %}
          {% bootstrap_field weekday.start_time show_label=False %}
          —
          {% bootstrap_field weekday.end_time show_label=False %}
        </div>
        {% endfor %}
      </div>

      <div class="form-group save_buttons">
        <button	id="save-ec" class="btn btn-primary" type="submit">Сохранить</button>
{#        <button	id="save-and-new-ec" class="btn" href="/manager/event-class/" type="submit">Сохранить и создать новый</button>#}
        <a	id="cancel" class="btn" href="{% url 'crm:manager:event:calendar' %}">Отмена</a>
      </div>
    </form>

  </div>

{% endblock content %}
