{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper humanize static %}

{% block title %}Группы{% endblock %}
{% block sidbar %}
  {% url 'crm:manager:company' as back_link %}
  {% include 'crm/bars/_sidebar_design.html'  with name="Группы" back_link=back_link current='groups' %}
{% endblock %}

{% block content %}
  <div class="page groups_page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12 alert-box">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
      {% ifhasperm 'manager.add' user %}
        <a class="btn btn-primary btn-new"
         href="{% url 'crm:manager:event-class:new' %}">Новая</a>
      {% endifhasperm %}
    <div class="bredcams clearfix">
      <ul>
        <li>
          Группы
        </li>
        <li>
          <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L5.5 5.5L1 10" stroke="#C4C4C4" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </li>
      </ul>
    </div>
    <div class="greyline"></div>
    {% if eventclass_list %}
        <div class="tab-content">
          <table class="table table-hover">
            <thead class="d-none d-md-block">
            <tr>
              <th>
                Наименование
              </th>
              <th class="d-none d-md-block">
                Площадка
              </th>
              <th class="d-none d-md-block">
                Тренер
              </th>
              <th class="text-center d-none d-md-block">
                Даты
              </th>
              <th class="text-center d-none d-md-block">
                Плановая посещаемость
              </th>
              <th class="text-right d-none d-md-block">
                Разовое посещение
              </th>
              <th width="1"></th>
            </tr>
            </thead>
            <tbody>
            {% for eventclass in eventclass_list|dictsort:"eventclass.name.lower" %}
              <tr {% if eventclass.deleted %}class="archive"{% endif %}>
                <td>
                    <a href="{% url 'crm:manager:event-class:update' eventclass.pk %}"
                    class="fio_name">{{ eventclass.name }}</a>

                    <div class="d-md-none info_for_button">
                        <!--<small>Площадка: {{ eventclass.location }}</small><br>
                        <small>Тренер: {{ eventclass.coach }}</small><br>-->
                        <small>
                            {% if eventclass.date_from %}
                              {{ eventclass.date_from|date:"d.m.Y" }}
                            {% endif %}
                            {% if eventclass.date_to %}
                              — {{ eventclass.date_to|date:"d.m.Y" }}
                            {% endif %}
                        </small><br>
                        <small>Плановая посещаемость: 30</small><br>
                        {% if eventclass.get_one_time_visit_costs.price %}
                          <small>Разовое посещение: {{ eventclass.get_one_time_visit_costs.price|floatformat:"-2"|intcomma }}&nbsp;₽</small>
                        {% endif %}

                    </div>
                </td>
                <td class="d-none d-md-block">
                    <div class="info_for_button_s">
                        {{ eventclass.location }}
                    </div>
                </td>
                <td class="d-none d-md-block">
                    {{ eventclass.coach }}
                </td>
                <td class="text-center d-none d-md-block">
                  {% if eventclass.date_from %}
                    {{ eventclass.date_from|date:"d.m.Y" }}
                  {% endif %}
                  {% if eventclass.date_to %}
                    — {{ eventclass.date_to|date:"d.m.Y" }}
                  {% endif %}
                </td>
                <td class="text-center d-none d-md-block">
                    30
                </td>
                <td class="text-right d-none d-md-block">
                    {% if eventclass.get_one_time_visit_costs.price %}
                      {{ eventclass.get_one_time_visit_costs.price|floatformat:"-2"|intcomma }}&nbsp;₽
                    {% endif %}
                </td>
                <td>
                    <div class="btn_box d-flex align-items-center justify-content-end">
                      <a
                        href="{% url 'crm:manager:event-class:delete' eventclass.pk %}"
                        class="btn btn-icon btn-delete"
                      >
                          <span></span>
                          <abbr>Удалить</abbr>
                      </a>
                    </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
         </div>
    {% else %}
      <p>Ваш список групп пуст</p>
    {% endif %}
    {% include "crm/bars/_bottom_sidebar.html" %}
  </div>
{% endblock content %}
