{% load html_helper humanize %}

<div class="balance d-md-none">
  <span class="{% if client.balance < 0 %}orange{% else %}green{% endif %}">
    {{ client.balance|floatformat:"-2"|intcomma }}&nbsp;₽
  </span>
</div>
{% if client.deleted %}
  {{ client.name }}
{% else %}
  {% ifhasperm 'client_subscription.edit' user %}
    <a href=" {% url 'crm:manager:client:detail' client.id %}"
       class="fio_name">{{ client.name }}</a>
  {% else %}
    {{ client.name }}
  {% endifhasperm %}
{% endif %}
<div class="d-none d-md-block">
  <small>{{ client.phone_number|phone_format }}</small>
</div>
<div class="d-md-none">
  {% if active_sub|length == 1 %}
    {% with active_sub.first as sub %}
      {{ sub.subscription.name }}
      <br/>
        <small>Доступно посещений: {{ sub.visits_left }} из
          {{ sub.visits_on_by_time }}</small>
      <br/>
      <small>Действует до {{ sub.end_date|date:"SHORT_DATE_FORMAT" }}</small>
    {% endwith %}
  {% elif client.get_active_sub|length > 1 %}
      {% for sub in active_sub %}
        <small>{{ sub.subscription.name }}</small>
        <br/>
          <small>Доступно посещений: {{ sub.visits_left }} из
            {{ sub.visits_on_by_time }}</small>
        <br/>
        <small>Действует до {{ sub.end_date|date:"SHORT_DATE_FORMAT" }}</small>
        {% if not forloop.last %}
          <div class="greyline"></div>
        {% endif %}
      {% endfor %}
  {% elif last_sub %}
    {{ last_sub.subscription.name }}
    <br/>
    <small>Абонемент закончился {{ last_sub.end_date|date:"SHORT_DATE_FORMAT" }}</small>
  {% else %}
    Без абонемента
  {% endif %}
  <br>
</div>
