{% load html_helper crm_block %}

{% if event and event.is_overpast and not marked %}
  <div class="info_for_button_s">
  {% for sub in subscriptions %}
    {% subscription_info sub %}
    {% if not forloop.last %}
      <div class="greyline"></div>
    {% endif %}
  {% empty %}
    <span class="yellow">Без абонемента</span>

    {% if not client.deleted %}
      {% ifhasperm 'client_subscription.sale' user %}
        <br/>
        {% if event %}
          <a class="sell"
             href="{% url 'crm:manager:client:new-subscription-with-event-by-date' client.id event.event_class.id event.date.year event.date.month event.date.day %}?gb={% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day  %}">
            Продать</a>
        {% else %}
          <a class="sell"
             href="{% url 'crm:manager:client:new-subscription' client.id %}">Продать</a>
        {% endif %}
      {% endifhasperm %}
    {% endif %}
  {% endfor %}
  </div>
{% else %}

  {% for sub in active_sub %}
    {% subscription_info sub %}
    {% if not forloop.last %}
      <div class="greyline"></div>
    {% endif %}
  {% empty %}
    <span class="yellow">Без абонемента</span>

    {% if not client.deleted %}
      {% ifhasperm 'client_subscription.sale' user %}
        <br/>
        {% if event %}
          <a class="sell"
             href="{% url 'crm:manager:client:new-subscription-with-event-by-date' client.id event.event_class.id event.date.year event.date.month event.date.day %}?gb={% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day  %}">
            Продать</a>
        {% else %}
          <a class="sell"
             href="{% url 'crm:manager:client:new-subscription' client.id %}">Продать</a>
        {% endif %}
      {% endifhasperm %}
    {% endif %}
  {% endfor %}
{% endif %}
