{% for sub in active_sub %}
  {% with  last_visited_event=sub.last_visited_event %}
    {% if last_visited_event %}
      <span class="date">
        {{ last_visited_event.date|date:"SHORT_DATE_FORMAT" }}
      </span>
      {% if active_sub|length > 1 %}
        {% if not forloop.last %}
          <div class="greyline"></div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endwith %}
{% empty %}
  {% if last_sub %}
    {% with  last_visited_event=sub.last_visited_event %}
      {{ last_visited_event.date|date:"SHORT_DATE_FORMAT" }}
    {% endwith %}
  {% endif %}
{% endfor %}
