{% load html_helper static %}

<a
  {% ifhasperm 'client_subscription.edit' user %}
    href="{% url 'crm:manager:client:detail' client.id %}"
  {% else %}
  {% if event %}
    href="{% url 'crm:manager:client:new-subscription-with-event-by-date' client.id event.event_class.id event.date.year event.date.month event.date.day %}?gb={% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day  %}"
  {% else %}
    href="{% url 'crm:manager:client:new-subscription' client.id %}"
  {% endif %}
  {% endifhasperm %}
>
  {% if client.vk_user_id %}
    <img src="{% vk_small_avatar client.vk_user_id %}" class="photo">
  {% else %}
    <img src="{% static "img/no-photo.png" %}" class="photo">
  {% endif %}
</a>
