{% load html_helper humanize %}

<!--
<div class="balance d-md-none">
  <span class="{% if client.balance < 0 %}orange{% else %}green{% endif %}">
    {{ client.balance|floatformat:"-2"|intcomma }}&nbsp;₽
  </span>
</div>
-->
{% ifhasperm 'client_subscription.edit' user %}
  <div class="d-flex">
      <div class="mr-auto">
          <a href="{% url 'crm:manager:client:detail' client.id %}" class="fio_name">{{ client.name }}</a>
      </div>
      <div>
          <span class="balance {% if client.balance < 0 %}orange{% elif client.balance > 0 %}green{% endif %} d-md-none">
          {{ client.balance|floatformat:"-2"|intcomma }}&nbsp;₽
          </span>
      </div>
  </div>
{% else %}
  <div class="d-flex">
      <div class="mr-auto">
          <a href="{% if event %}{% url 'crm:manager:client:new-subscription-with-event-by-date' client.id event.event_class.id event.date.year event.date.month event.date.day %}?gb={% url 'crm:manager:event-class:event:event-by-date' event.event_class.id event.date.year event.date.month event.date.day  %}{% else %}{% url 'crm:manager:client:new-subscription' client.id %}{% endif %}" class="fio_name">{{ client.name }}</a>
      </div>
  </div>
{% endifhasperm %}
<div class="d-none d-md-block">
  {{ client.phone_number|phone_format }}
</div>
<div class="d-md-none">
  {% if active_sub|length == 1 %}
    {% with active_sub|first as sub %}
        <div class="info_for_button">
          <b>{{ sub.subscription.name }}</b> до&nbsp;{{ sub.end_date|date:"SHORT_DATE_FORMAT" }}
          <br/>
            <small>Посещений: <b class="green">{{ sub.visits_left }} из {{ sub.visits_on_by_time }}</b></small>
        </div>
    {% endwith %}
  {% elif client.get_active_sub|length > 1 %}
      {% for sub in active_sub %}
        <div class="info_for_button">
            {{ sub.subscription.name }}
            <br/>
              Посещений: <b class="green">{{ sub.visits_left }} из
                {{ sub.visits_on_by_time }}</b>
            <br/>
            Действует до {{ sub.end_date|date:"SHORT_DATE_FORMAT" }}
        </div>
        {% if not forloop.last %}
          <div class="greyline"></div>
        {% endif %}
      {% endfor %}
  {% else %}
      <div class="info_for_button">
        <span>Без абонемента</span>
      </div>
  {% endif %}
</div>
