{% extends 'crm/base.html' %}

{% block extrahead %}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>

  <script type="text/javascript">
    $(function() {
      $('input.status-toggle').change(function() {
        let $this = $(this);
        $.ajax({
            url: `/api/v1/messages/${$this.data('message-id')}/toggle/`,
            data: {
              is_enabled: $this.prop('checked'),
            },
            type: 'PUT',
            success: function (data) {
              $this.prop('checked', data.is_enabled);
            }
          }
        );
      });
    });
  </script>
{% endblock %}

{% block content %}
  <table>
    <thead>
    <tr>
      <th>Тип сообщения</th>
      <th>Статус</th>
    </tr>
    </thead>
    {% for message in vk_messages %}
      <tr>
        <td>
          {{ message.help_text }}
        </td>
        <td>
          <input
            class="status-toggle"
            type="checkbox"
            {% if message.is_enabled %}
              checked
            {% endif %}
            data-toggle="toggle"
            data-onstyle="outline-success"
            data-offstyle="outline-danger"
            data-on="Включено"
            data-off="Выключено"
            data-message-id="{{ message.uuid }}"
          >
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
