{% extends "crm/base.html" %}
{% block content %}
  <div class="content-section ml-4 mt-4">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-2">Тренер: {{ coach }}</legend>
        <h2>Вы действительно хотете удалить тренера "{{ coach }}"?</h2>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Удалить</button>
        <a class="btn btn-outline-info"
           href="{% url 'crm:manager:coach:detail' coach.id %}">Отмена</a>
      </div>
    </form>
  </div>
{% endblock content %}
