{% extends "crm/base.html" %}

{% block content %}
  <div class="container-fluid mt-4 ml-2">
    <legend class="border-bottom mb-2">Тренер: {{ coach }}</legend>
    <div class="row mb-2">
      <div class="container-fluid">
        <a class="btn btn-sm btn-outline-info"
           href="{% url 'crm:manager:coach:update' coach.id %}">
          Изменить
        </a>
        <a name="cancel"
           href="{% url 'crm:manager:coach:list' %}"
           class="btn btn-sm btn-outline-info">
          Назад
        </a>
        <a class="btn btn-sm btn-outline-danger"
           href="{% url 'crm:manager:coach:delete' coach.id %}">
          Удалить
        </a>
      </div>
    </div>
    <table class="table table-sm">
      <tbody>
      <tr>
        <td>Имя</td>
        <td>{{ coach.user.get_full_name }}</td>
      </tr>
      <tr>
        <td>VK</td>
        <td>
          {% if coach.user.has_vk_auth %}
            <a href="vk.com/id{{ coach.user.vk_id }}">Страница тренера VK</a>
          {% else %}
            Тренер не привязал аккаунт в VK
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Ссылка для входа</td>
        <td>{{ login_temp_link }}</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
