{% extends "crm/base_design.html" %}

{% load bootstrap4 html_helper static %}

{% block title %}Тренер{% endblock %}
{% block sidbar %}
  {% url 'crm:manager:coach:list' as back_link %}
  {% if form.user.fullname.value %}
    {% include 'crm/bars/_sidebar_design.html'  with name=form.user.fullname.value back_link=back_link current='coach' %}
  {% else %}
    {% include 'crm/bars/_sidebar_design.html'  with name="Новый тренер" back_link=back_link current='coach' %}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="page col-md-12 col-lg-9 col-xl-10">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            {% bootstrap_alert_message message %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="bredcams clearfix">
      <ul>
        <li>
          <a href="{% url "crm:manager:coach:list" %}">Тренеры</a>
          {% include 'crm/bars/_img_bredcams_str.html' %}
        </li>
        <li>
          Новый тренер
        </li>
      </ul>
    </div>

    <div class="greyline"></div>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form.user exclude="fullname,email" %}

      <div class="row align-items-center">
        <div class="col-12 col-md-10 col-xl-6 order-2 order-md-1">
          {% bootstrap_field form.coach.vk_page %}
        </div>
        {% if object.id %}
          <div class="col-12 col-md-1 order-1 order-md-2">
            {% if object.user.vk_id %}
              <img src="{% vk_small_avatar object.user.vk_id %}">
            {% else %}
              <img src="{% static "img/no-photo.png" %}"/>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-12">
          <div class="greyline"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-10 col-xl-6">
          {% bootstrap_field form.user.fullname %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 col-xl-3">
          {% bootstrap_field form.coach.phone_number %}
        </div>
        <div class="col-12 col-md-5 col-xl-3">
            {% bootstrap_field form.user.email %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="greyline"></div>
        </div>
      </div>
      {% if object.id %}
        <div class="row">
          <div class="col-12 col-md-10 col-xl-6">
            <label for="login_link">Ссылка для входа</label>
            <div class="form-group input-group">
              <input type="text" id="login_link" name="" class="form-control" disabled="disabled"
                     placeholder="{{ login_temp_link }}"></input>
              <div class="input-group-append">
                <button id="copy_url" class="btn btn-outline-secondary" type="button"
                        data-clipboard-text="{{ login_temp_link }}">
                  Скопировать
                </button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="form-group save_buttons">
        <input class="btn btn-primary" type="submit" value="Сохранить"/>
        <a name="cancel" href="{% url "crm:manager:coach:list" %}" class="btn">Отмена</a>
        {% if object.id %}
          {% ifhasperm 'coach.delete' user %}
            <a class="btn"
           href="#confirm_popup"
           data-action-text="В архив"
           data-title="Перемещение в архив"
           data-body-text="Переместить в архив?"
           data-toggle="modal"
           data-url="{% url "crm:manager:coach:delete" object.id %}">
          Переместить в архив
          </a>
          {% endifhasperm %}
        {% endif %}
      </div>
    </form>


  </div>
{% endblock %}

{% block extrajs %}
  {% js "js/clipboard.min.js" %}
  <script>
    new ClipboardJS('#copy_url');
  </script>

  {% js "js/cleave.min.js" %}
  {% js "js/cleave-phone.ru.js" %}
  <script>
    var cleave = new Cleave('[type=tel]', {
      phone: true,
      phoneRegionCode: 'RU'
    });
  </script>

  <script type="text/javascript">
    $(function () {
      $('[data-name-edit]').on('input', function () {
        var data = $(this).val().trim();
        var items = data.split(' ');
        var result = items.splice(0, 1);
        result.push(items.join(' '));
        $('#' + '{{ form.user.first_name.id_for_label }}').val(result[0]);
        $('#' + '{{ form.user.last_name.id_for_label }}').val(result[1]);
      });
    });
  </script>
  <script type="text/javascript">
    $(function () {
      $("#{{ form.coach.vk_page.id_for_label}}").change(function() {
          const data = $(this).val().trim();
          var idRe = new RegExp("vk.com\/(?<user_id>([A-Za-z0-9_])+)");

          if (data === '' || data === null) {
          } else {
            var matchObj = idRe.exec(data);
            try {
                var id = matchObj.groups.user_id;
                getUserData(id);
            } catch (err) {
               //showError("Ошибка! Неверный формат ссылки вк!");
            }
          }
      });

    });

    function getUserData(id) {
        $.ajax({
            url: 'https://api.vk.com/method/users.get',
            data: {
                user_ids: id,
                fields: "photo_100, bdate, domain",
                access_token: VK_TOKEN,
                v: 5.63
            },
            type: 'GET',
            dataType: 'jsonp',
            crossDomain: true,
            async: false,
            success: function(data) {
                if (data.error) {
                  return;
                }
                else {
                    var $name = $("#{{ form.user.fullname.id_for_label }}");
                    if ($name.val() === "") {
                        $name.val(
                          data.response[0].first_name + ' ' + data.response[0].last_name);
                        $('#' + '{{ form.user.first_name.id_for_label }}').val(data.response[0].first_name);
                        $('#' + '{{ form.user.last_name.id_for_label }}').val(data.response[0].last_name);
                    }
                }
            },
            error: function (data) {
            }
        });
    }
  </script>
{% endblock %}
