{% extends "crm/base.html" %}

{% load bootstrap4 %}

{% block content %}
  <div class="ml-4 mt-4 mr-4 container-fluid">
    <legend class="border-bottom mb-2">Тренеры</legend>
    <a name="add-new" href="{% url 'crm:manager:coach:new' %}" class="btn btn-sm btn-info">Добавить</a>
    <table class="table table-striped table-borderless">
      <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Телефон</th>
        <th scope="col"><i class="fab fa-vk"></i></th>
        <th scope="col">Управление</th>
      </tr>
      </thead>
      <tbody>
      {% for coach in coachs %}
        <tr>
          <td><a href="{% url "crm:manager:coach:detail" coach.id %}">{{ coach }}</a></td>
          <td>{{ coach.phone_number }}</td>
          <td>
            {% if coach.user.vk_link %}
              <a href="{{ coach.user.vk_link|safe }}" target="_blank">
                {{ coach.user.vk_link|safe }}
              </a>
            {% endif %}
          <td>
            <a href="{% url "crm:manager:coach:delete" coach.id %}" class="btn btn-danger">Удалить</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% bootstrap_pagination page_obj %}
  </div>

{% endblock %}
