{% load bootstrap4  %}
<div class="bottom_sidebar">
  <div class="row align-items-center">
    <div class="col-6">
      {% if page_obj.paginator.num_pages > 1 %}
        <nav>
          {% bootstrap_pagination page_obj extra=filter.data.urlencode %}
        </nav>
      {% endif %}
    </div>
    <div id="show_archive" class="form-check col-6">
      <div>
        <label class="form-check-label" for="archive">
          <input id="archive" type="checkbox" class="form-check-input" {% if filter.form.with_archive.value %}checked="checked"{% endif %}/>
          <div class="form-check-input-div"></div>
          Архивные
        </label>
      </div>
    </div>
  </div>
</div>
