{% load static html_helper %}
<nav class="col-md-2 d-none d-md-block sidebar" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="navbar-nav flex-column">
      {% ifhasperm 'event_class' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:event-class:list' %}"
          name="Тренировки"
        >
          Тренировки
        </a>
      </li>
      {% endifhasperm %}
      {% ifhasperm 'client' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:client:list' %}"
          name="Ученики"
        >
          Ученики
        </a>
      </li>
      {% endifhasperm %}
      {% ifhasperm 'coach' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:coach:list' %}"
        >
          Тренеры
        </a>
      </li>
      {% endifhasperm %}
      {% ifhasperm 'subscription' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:subscription:list' %}"
          name="Абонементы"
        >
          Абонементы
        </a>
      </li>
      {% endifhasperm %}
      {% ifhasperm 'is_manager' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:event:list' %}"
          name="Календарь тренировок"
        >
          Календарь тренировок
        </a>
      </li>
      {% endifhasperm %}
      {% ifhasperm 'location' user %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:locations:list' %}"
          name="Места проведения"
        >
          Места проведения
        </a>
      </li>
      {% endifhasperm %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:manager:reports' %}"
          name="Отчеты"
        >
          Отчеты
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'crm:accounts:profile' %}"
          name="Профиль"
        >
          Профиль
        </a>
      </li>
    </ul>
  </div>
</nav>
